dist/_billboard.html
<div class="billboard">
  <div class="carousel">
    <input checked="" class="carousel-locator" hidden="" id="slide-0" name="carousel-radio" type="radio" />
    <div class="carousel-container">
      <figure class="carousel-item">
        <div class="parallax">
          <div class="parallax-content">
            <div class="parallax-front position-top-left">
              <h1 class="catchcopy">
                確かな技術と自由な発想でリフォーム<br />新しいライフスタイルを提案します
              </h1>
            </div>
            <div class="parallax-back">
              <div class="bright">
                <img alt="billboard" class="img-responsive rounded" src="assets/images/billboard_half.jpg" />
              </div>
            </div>
          </div>
        </div>
      </figure>
    </div>
  </div>
</div>

src/_partial/_billboard.slim
.billboard
  .carousel
    input#slide-0.carousel-locator checked="" hidden="" name="carousel-radio" type="radio"
    .carousel-container
      figure.carousel-item
        .parallax
          .parallax-content
            .parallax-front.position-top-left
              h1.catchcopy
                | 確かな技術と自由な発想でリフォーム
                br
                | 新しいライフスタイルを提案します
            .parallax-back
              .bright
                img.img-responsive.rounded alt="billboard" src="assets/images/billboard_half.jpg"
