src/_partial/_calendar.slim
main.page-main
  input.datepicker
  input.datepicker

  h3.s-title
    | Calendars
  /   a.anchor aria-hidden="true" href="#calendars"  #
  / .docs-ad.docs-ad-sidebar.text-center
  /   script#_carbonads_js async="" src="https://cdn.carbonads.com/carbon.js?serve=CK7DTKQW&amp;placement=picturepan2githubio" type="text/javascript"
  p Calendars are designed for date or date range picker and events display. It is made with flex layout.
  .calendar.col-4
    .calendar-nav.navbar
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-left
      .navbar-primary 平成30年 9月
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-right

    .calendar-nav.navbar
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-left
      .navbar-primary March 2018
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-right

    / createCalendar
    .calendar-container
      .calendar-header
        .calendar-date Sun
        .calendar-date Mon
        .calendar-date Tue
        .calendar-date Wed
        .calendar-date Thu
        .calendar-date Fri
        .calendar-date Sat
      .calendar-body
        .calendar-date.prev-month
          button.date-item 26
        .calendar-date.prev-month
          button.date-item 27
        .calendar-date.prev-month
          button.date-item 28
        .calendar-date
          button.date-item 99
        .calendar-date
          button.date-item 2
        .calendar-date
          button.date-item 3
        .calendar-date.tooltip data-tooltip="Today"
          button.date-item.date-today 4
        .calendar-date.tooltip data-tooltip=("Not available")
          button.date-item disabled=""  5
        .calendar-date
          button.date-item 6
        .calendar-date
          button.date-item 7
        .calendar-date.tooltip data-tooltip=("You have appointments")
          button.date-item.badge 8
        .calendar-date
          button.date-item 9
        .calendar-date
          button.date-item 10
        .calendar-date
          button.date-item 11
        .calendar-date
          button.date-item 12
        .calendar-date
          button.date-item 13
        .calendar-date
          button.date-item 14
        .calendar-date
          button.date-item 15
        .calendar-date.calendar-range.range-start
          button.date-item 16
        .calendar-date.calendar-range
          button.date-item 17
        .calendar-date.calendar-range
          button.date-item 18
        .calendar-date.calendar-range
          button.date-item 19
        .calendar-date.calendar-range.range-end
          button.date-item 20
        .calendar-date
          button.date-item 21
        .calendar-date
          button.date-item 22
        .calendar-date
          button.date-item 23
        .calendar-date
          button.date-item 24
        .calendar-date
          button.date-item 25
        .calendar-date
          button.date-item 26
        .calendar-date
          button.date-item 27
        .calendar-date
          button.date-item 28
        .calendar-date
          button.date-item 29
        .calendar-date
          button.date-item 30
        .calendar-date
          button.date-item 31
        .calendar-date.next-month
          button.date-item 1

dist/_calendar.html
<main class="page-main"><input class="datepicker" /><input class="datepicker" />
  <h3 class="s-title">
    Calendars
  </h3>
  <p>
    Calendars are designed for date or date range picker and events display. It is made with flex layout.
  </p>
  <div class="calendar col-4">
    <div class="calendar-nav navbar">
      <button class="btn btn-action btn-link btn-lg"><i class="icon icon-arrow-left"></i></button>
      <div class="navbar-primary">
        平成30年 9月
      </div>
      <button class="btn btn-action btn-link btn-lg"><i class="icon icon-arrow-right"></i></button>
    </div>
    <div class="calendar-nav navbar">
      <button class="btn btn-action btn-link btn-lg"><i class="icon icon-arrow-left"></i></button>
      <div class="navbar-primary">
        March 2018
      </div>
      <button class="btn btn-action btn-link btn-lg"><i class="icon icon-arrow-right"></i></button>
    </div>
    <div class="calendar-container">
      <div class="calendar-header">
        <div class="calendar-date">
          Sun
        </div>
        <div class="calendar-date">
          Mon
        </div>
        <div class="calendar-date">
          Tue
        </div>
        <div class="calendar-date">
          Wed
        </div>
        <div class="calendar-date">
          Thu
        </div>
        <div class="calendar-date">
          Fri
        </div>
        <div class="calendar-date">
          Sat
        </div>
      </div>
      <div class="calendar-body">
        <div class="calendar-date prev-month">
          <button class="date-item">26</button>
        </div>
        <div class="calendar-date prev-month">
          <button class="date-item">27</button>
        </div>
        <div class="calendar-date prev-month">
          <button class="date-item">28</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">99</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">2</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">3</button>
        </div>
        <div class="calendar-date tooltip" data-tooltip="Today">
          <button class="date-item date-today">4</button>
        </div>
        <div class="calendar-date tooltip" data-tooltip="Not available">
          <button class="date-item" disabled=""> 5</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">6</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">7</button>
        </div>
        <div class="calendar-date tooltip" data-tooltip="You have appointments">
          <button class="date-item badge">8</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">9</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">10</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">11</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">12</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">13</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">14</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">15</button>
        </div>
        <div class="calendar-date calendar-range range-start">
          <button class="date-item">16</button>
        </div>
        <div class="calendar-date calendar-range">
          <button class="date-item">17</button>
        </div>
        <div class="calendar-date calendar-range">
          <button class="date-item">18</button>
        </div>
        <div class="calendar-date calendar-range">
          <button class="date-item">19</button>
        </div>
        <div class="calendar-date calendar-range range-end">
          <button class="date-item">20</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">21</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">22</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">23</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">24</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">25</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">26</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">27</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">28</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">29</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">30</button>
        </div>
        <div class="calendar-date">
          <button class="date-item">31</button>
        </div>
        <div class="calendar-date next-month">
          <button class="date-item">1</button>
        </div>
      </div>
    </div>
  </div>
</main>
