dist/_company.html
<script>
  $(() => {
    // 最初は active 以外のコンテンツを非表示に
    // $(".tab-content div:not("+$(".tab-item.active a").attr("href")+")").hide();
    $(".tab-content").hide();
    let active_id = $(".tab-item.active a").attr("href");
    $(`${active_id}`).show();
  
    //tab がクリックされたときに、そのコンテンツを表示
    $(".tab-item").on('click', function(){
      $(".tab-item").removeClass("active");
      $(this).addClass("active");
      $(".tab-content").hide();
      $($(this).find('a').attr("href")).show();
      return false;
    });
  });
</script>
<main class="page-main">
  <ul class="tab tab-block">
    <li class="tab-item active">
      <a href="#concept">経営理念</a>
    </li>
    <li class="tab-item">
      <a href="#member">仲間紹介</a>
    </li>
    <li class="tab-item">
      <a href="#history">沿　　革</a>
    </li>
    <li class="tab-item">
      <a href="#overview">会社概要</a>
    </li>
    <li class="tab-item">
      <a href="#recruit">採用情報</a>
    </li>
  </ul>
  <div class="mt-2"></div>
  <div class="tab-content" id="concept">
    <h1 class="mb-2">
      会社方針
    </h1>
    <h2>
      経営理念
    </h2>
    <p class="mb-3">
      「 住む人の愛が溢れる、生命（いのち）が活きる、歓びの住まいづくりに貢献する。」
    </p>
    <h3>
      コンセプト
    </h3>
    <p>
      「ホームメイド」の考えるリフォーム
      <ol>
        <li>
          未来の家族のために世代を超えて、安心して住める家
        </li>
        <li>
          使い慣れた家の思い出はそのままに、使い勝手のいい家
        </li>
        <li>
          家族の絆を深めることができる、愛情の溢れる家
        </li>
        <li>
          大切な家族を守り、お客様と一緒に作り上げる家
        </li>
        <li>
          夢を叶える、幸せの法則が生かされている家
        </li>
      </ol>
    </p>
    <p class="mb-3">
      そんな素敵なリフォームだから・・・<br />○ 「嬉しいリフォーム」<br /> ○ 「楽しいリフォーム」<br /> ○ 「ありがたいリフォーム」 を合言葉にしています。
    </p>
    <h3>
      「ホームメイド」に込めた意味
    </h3>
    <p class="mb-3">
      「ホームメイド(Homemade)」を翻訳すると「手製の、自家製の、国産の」という意味です。また、お手製(手作り)という意味で、ホーム(Home)は「家」、まで(Made)には、総合的なという意味を込めました。ホーム(Home)は家族を表し、家族を育む良い環境、空間を作り上げるという願いを込めています。色合いは家の畳の色を基調に、安らぎや団欒、温かみを込めています。
    </p>
    <h3>
      会社方針
    </h3>
    <p>
      「ホームメイド」は 今まで手掛けられなかったリフォームの新しいご提案を掲げています。わたくしどもは最初は材木屋から始まり、外壁のリフォーム、店舗の改修工事、一戸建て新築工事、畳の入れ替えから建具・襖の張り替えまで、様々な建築工事に携わってまいりました。<br /> そんな時に、ふと考えた事がありました。<br /> 「木部のメンテナンスや塗装、木をデザインした癒し空間などの木に関するアフターやメンテナンス、木を生かしたリフォームやサポート業務が後回しになっている!!」ことに気付きました。<br /> 木の文化は1000年も続いている。木材の歴史と伝統を新しいかたちで、今の時代に甦らせて行けないだろうか? そんなリフォームができないだろうかと考えるようになりました。<br /> そこで木材のことなら、一番理解している材木屋の仲間と、リフォームを知り尽くした建築の仲間がひとつになって、このリフォーム事業を立ち上げることになりました。
    </p>
    <h3 class="mt-3">
      リフォームへの想い
    </h3>
    <p>
      リフォームの仕事をするようになっていつも思うことがあります。工事が完了して、お客様のお家が綺麗になって、使いやすくなって良かったなぁ…。と思っていただける、その瞬間の笑顔を見たときです。この仕事をさせて頂いて本当に良かったと思える、一番幸せを感じられる一瞬です。そんな嬉しいことに巡り会えるのがリフォームの仕事だと思います。
    </p>
    <h3 class="mt-3">
      代表からのメッセージ
    </h3>
    <div class="president_message">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/member0.jpg" />
      </div>
      <div class="card-body">
        <p>
          ホームメイドは、新しいリフォームのかたち、「嬉しいリフォーム」「楽しいリフォーム」「ありがたいリフォーム」をコンセプトに立ち上がりました。<br /> 畳・ふすまの入れ替えから、クロスの張り替え、内装工事、水回りの改修工事、外壁の塗装、外壁木部の塗装、雨漏り、外構工事などもお任せ下さい。<br /> お家の中でお困りがありましたらお気軽にご連絡ください。リフォームのプロが、お客様のご要望にお応えしてすぐにお伺いします。
        </p>
        <p class="text-right">
          二級建築施工管理技士　臼井常雄
        </p>
      </div>
    </div>
  </div>
  <div class="tab-content" id="member">
    <style type="text/css">
      .card.member {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto;
        margin-bottom: 1rem;
      }
      
      .card.member .card-image {
        grid-colums: 1;
        grid-rows: 1;
        padding: 0.5rem;
      }
      
      .card.member .card-header {
        grid-column: 2;
        grid-row: 1;
      }
      
      .card.member .card-header dl {
        margin-top: 1rem;
      }
      
      .card.member .card-header dl dd {
        margin-left: 1rem;
      }
      
      .card.member .card-body {
        grid-column: 1/3;
        grid-row: 2;
      }
    </style>
    <h1 class="mb-2">
      仲間紹介
    </h1>
    <p class="mb-3">
      ホームメードの仲間達を紹介します。
    </p>
    <div class="card member">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/member0.jpg" />
      </div>
      <div class="card-header">
        <div class="card-title h5">
          臼井 常雄
        </div>
        <div class="card-subtitle text-gray">
          代表取締役
        </div>
        <dl>
          <dt>
            趣味
          </dt>
          <dd>
            パソコン
          </dd>
          <dt>
            座右の銘
          </dt>
          <dd>
            一期一会
          </dd>
        </dl>
      </div>
      <div class="card-body">
        <p>
          小さな出会いが、大きく人生を変えていく。一瞬の時間を大切にしたい。あなたと出会えた歓びが、あなたにとっても大きな喜びと感動に繋がっていく。そんな仕事がしたいと思っています。
        </p>
      </div>
    </div>
    <div class="card member">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/member1.jpg" />
      </div>
      <div class="card-header">
        <div class="card-title h5">
          竹内 泉
        </div>
        <div class="card-subtitle text-gray">
          現場管理主任
        </div>
        <dl>
          <dt>
            趣味
          </dt>
          <dd>
            家庭菜園
          </dd>
          <dt>
            座右の銘
          </dt>
          <dd>
            小さな一歩は勇気を持って踏み出すことから始めれば良い。
          </dd>
        </dl>
      </div>
      <div class="card-body">
        <p>
          現場の管理から現調、あらゆるリフォームに対応した現場管理に努めています。難しいリフォームには培って来た経験が生きます。
        </p>
      </div>
    </div>
  </div>
  <div class="tab-content" id="history">
    <style type="text/css">
      dl dd {
        margin-left: 30px;
      /*
        padding-left: 40rem;
        color: red;
        margin-left: 30px;
        padding-bottom: 10px;
      */
      }
    </style>
    <h3>
      沿革
    </h3>
    <dl class="ml-3">
      <dt>
        令和元年(2019年)5月
      </dt>
      <dd>
        ウェブサイト（ホームページ）リニューアル。
      </dd>
      <dt>
        平成29年(2017年)12月18日
      </dt>
      <dd>
        株式会社 ホームメイド設立。
      </dd>
      <dt>
        平成28年(2016年)9月
      </dt>
      <dd>
        岐阜市東材木町にてホームメイドリフォーム事業部を設立。
      </dd>
      <dt>
        平成28年(2016年)8月
      </dt>
      <dd>
        ホームメイドのウェブサイト（ホームページ）開設。
      </dd>
      <dt>
        平成27年(2015年)6月
      </dt>
      <dd>
        外構、水回り、埋葬工事、木部防水塗装を手掛ける。
      </dd>
      <dt>
        平成25年(2013年)
      </dt>
      <dd>
        リフォーム事業に、外壁塗装、木部塗装、改修工事メンテナンスの仕事を加える。
      </dd>
      <dt>
        平成22年(2010年)
      </dt>
      <dd>
        工務店で、各種リフォームの施工経験を積む。
      </dd>
      <dt>
        平成20年(2008年)
      </dt>
      <dd>
        間伐材活用を目的としたヒノキの間伐材パネル<a href="http://s-wood.jp/">「エスウッド」</a>の販売。
      </dd>
      <dt>
        平成17年(2005年)
      </dt>
      <dd>
        愛知万博の森のイベントに合唱曲でのPR「森からのおくりもの」
      </dd>
      <dt>
        平成17年(2005年)4月
      </dt>
      <dd>
        建築用CADシステムスーパーソフト代理店 。工務店向けウェブサイト（ホームページ）の制作。
      </dd>
      <dt>
        平成14年(2002年)6月
      </dt>
      <dd>
        臼井木材合資会社を営む。
      </dd>
      <dt>
        平成11年(1999年)
      </dt>
      <dd>
        日本木材青壮年会全国大会（名古屋）のオープニングで鶯谷高校音楽科生徒さん達による合唱「森からのおくりもの」
      </dd>
      <dt>
        平成10年(1998年)
      </dt>
      <dd>
        木材業界の活性化と木造住宅PRのための唄 作詞・作曲<a href="http://www.kaeru.gr.jp/uta2.htm">「森からのおくりもの」</a>NECムジカノーヴァ音楽祭 作曲賞受賞
      </dd>
    </dl>
  </div>
  <div class="tab-content" id="overview">
    <h3>
      会社概要
    </h3>
    <dl class="ml-3">
      <dt>
        社名
      </dt>
      <dd>
        株式会社 ホームメイド
      </dd>
      <dt>
        代表者
      </dt>
      <dd>
        代表取締役 臼井 常雄 　　
      </dd>
      <dt>
        業務内容
      </dt>
      <dd>
        改装 増改築工事
      </dd>
      <dd>
        外壁防水塗装工事
      </dd>
      <dd>
        内装工事
      </dd>
      <dd>
        耐震診断・耐震工事
      </dd>
      <dd>
        改善事業 空家補修
      </dd>
      <dd>
        設備リース
      </dd>
      <dt>
        事業所所在地
      </dt>
      <dd>
        〒500-8029
      </dd>
      <dd>
        岐阜市東材木町37-2
      </dd>
      <dd>
        <a href="access.html">交通案内</a>
      </dd>
      <dd>
        TEL. 058-262-5694
      </dd>
      <dd>
        FAX. 058-262-5689
      </dd>
      <dd>
        携帯. 090-8451-0238
      </dd>
      <dt>
        設立
      </dt>
      <dd>
        平成29年(2017年)12月18日
      </dd>
      <dt>
        事業所員数
      </dt>
      <dd>
        2名
      </dd>
      <dt>
        取引銀行
      </dt>
      <dd>
        岐阜信用金庫、十六銀行
      </dd>
    </dl>
  </div>
  <div class="tab-content" id="recruit">
    <h1>
      採用情報
    </h1>
    <p>
      ホームメイドでは、以下の人材を募集しています。
    </p>
    <dl>
      <dt>
        募集職種
      </dt>
      <dd>
        訪問営業
      </dd>
      <dt>
        募集対象
      </dt>
      <dd>
        やる気のある方
      </dd>
      <dt>
        勤務地
      </dt>
      <dd>
        岐阜市近郊
      </dd>
      <dt>
        給与
      </dt>
      <dd>
        完全歩合制
      </dd>
      <dt>
        諸手当
      </dt>
      <dd>
        フルコミッション
      </dd>
      <dt>
        勤務時間
      </dt>
      <dd>
        9:00〜18:00
      </dd>
      <dt>
        休日休暇
      </dt>
      <dd>
        フレックス
      </dd>
      <dt>
        応募方法
      </dt>
      <dd>
        履歴書と職務経歴書をメールまたは郵送でお送りください。
      </dd>
      <dt>
        送付先
      </dt>
      <dd>
        〒500-8029
      </dd>
      <dd>
        岐阜市東材木町37-2
      </dd>
      <dd>
        TEL. 090-8451-0238
      </dd>
      <dd>
        FAX. 058-262-5689
      </dd>
      <dd>
        E-mail.<a href="mailto:contact@homemade-reform.com">contact@homemade-reform.com</a>
      </dd>
      <dd>
        担当者 臼井
      </dd>
    </dl>
  </div>
</main>

src/_partial/_company.slim
javascript:
  $(() => {
    // 最初は active 以外のコンテンツを非表示に
    // $(".tab-content div:not("+$(".tab-item.active a").attr("href")+")").hide();
    $(".tab-content").hide();
    let active_id = $(".tab-item.active a").attr("href");
    $(`${active_id}`).show();

    //tab がクリックされたときに、そのコンテンツを表示
    $(".tab-item").on('click', function(){
      $(".tab-item").removeClass("active");
      $(this).addClass("active");
      $(".tab-content").hide();
      $($(this).find('a').attr("href")).show();
      return false;
    });
  });

main.page-main

  ul.tab.tab-block
    li.tab-item.active
      a href="#concept" 経営理念
    li.tab-item
      a href="#member" 仲間紹介
    li.tab-item
      a href="#history" 沿　　革
    li.tab-item
      a href="#overview" 会社概要
    li.tab-item
      a href="#recruit" 採用情報

  .mt-2
  .tab-content#concept
    include _company_concept
  .tab-content#member
    include _company_member
  .tab-content#history
    include _company_history
  .tab-content#overview
    include _company_overview
  .tab-content#recruit
    include _company_recruit
