dist/_contact.html
<main class="page-main">
  <h2 class="mb-2">
    お問い合わせ
  </h2>
  <p class="mb-4">
    　株式会社ホームメイドは、木部外壁の修復、防水塗装を専門に、リフォーム全般にわたる業務を手がけています。<br />『嬉しい』『楽しい』『ありがたい』リフォームを合い言葉に、施主様にやって良かったと喜んでいただける様、日々精進努力しております。<br />　お気軽にご連絡ください。
  </p>
  <p class="text-right mb-2">
    <span class="text-error">*</span>は必須項目です。
  </p>
  <form action="../cgi-bin/formmail/form.cgi.html" method="get">
    <input class="form-input" name="_sent" type="hidden" value="contact@homemade-reform.com" /><input class="form-input" name="Require" type="hidden" value="姓,名,お問い合せ内容," /><input class="form-input" name="Subject" type="hidden" value="HPお問い合わせ" /><input class="form-input" name="Check" type="hidden" value="on" /><label class="form-label required">お問い合わせ内容</label><textarea class="form-input" cols="40" name="message" required="" rows="12"></textarea><br /><label class="form-label required">お名前</label><input class="form-input" name="name" required="" type="text" /><br /><label class="form-label required">フリガナ</label><input class="form-input" name="kana" required="" type="text" /><br /><label class="form-label required">e-mail</label><input class="form-input" name="email" required="" type="text" /><br /><label class="form-label required">電話番号(半角)</label><input class="form-input" name="tel" required="" type="text" /><br /><label class="form-label">FAX番号(半角)</label><input class="form-input" name="fax" type="text" /><br /><input class="form-input btn btn-primary" type="submit" value="送信" />
  </form>
</main>

src/_partial/_contact.slim
main.page-main
  h2.mb-2
    | お問い合わせ
  p.mb-4
    |　株式会社ホームメイドは、木部外壁の修復、防水塗装を専門に、リフォーム全般にわたる業務を手がけています。
    br
    |『嬉しい』『楽しい』『ありがたい』リフォームを合い言葉に、施主様にやって良かったと喜んでいただける様、日々精進努力しております。
    br
    | 　お気軽にご連絡ください。

  / h4
  /   | 電話・FAX
  / .ml-2
  /   include _address_compact
  /
  / h4.mt-4
  /   | お問い合わせフォーム
  p.text-right.mb-2
    span.text-error
      | *
    | は必須項目です。

  form method="post" action="/success.html" netlify="netlify"
    input.form-input type="hidden" name="Subject" value="Web お問い合わせ"

    label.form-label.required
      | お問い合わせ内容
    textarea.form-input name="message" cols="40" rows="12" required=""
    br
    label.form-label.required
      | お名前
    input.form-input type="text" name="name" required=""
    br
    label.form-label.required
      | フリガナ
    input.form-input type="text" name="kana" required=""
    br
    label.form-label.required
      | e-mail
    input.form-input type="text" name="email" required=""
    br
    label.form-label.required
      | 電話番号(半角)
    input.form-input type="text" name="tel" required=""
    br
    label.form-label
      | FAX番号(半角)
    input.form-input type="text" name="fax"
    br
    input.form-input.btn.btn-primary type="submit" value="送信"
