src/_partial/_nav.slim
nav.page-nav
  ul
    li
      a href="company.html"
        i.far.fa-building.fa-fw
        | 会社案内
    li
      a href="works.html"
        i.fas.fa-home.fa-fw
        | 施工事例
    li
      a href="access.html"
        i.fas.fa-car.fa-fw
        | 交通案内
    li
      a href="contact.html"
        i.far.fa-envelope.fa-fw
        | お問合せ
      / span.fas.fa-phone.fa-lg.fa-fw.fa-rotate-180

/ iPhone でのハンバーガーメニュー 開くボタン表示
button.page-btn onclick="menu_toggle()" type="button"
  span.fas.fa-bars title="メニューを開く"
/ iPhone でのナビメニュー 閉じるボタン
button.page-btn-close onclick="menu_toggle()" type="button"
  span.fas.fa-times title="メニューを閉じる"
/ iPhone でのナビメニュー 動作用のscript (openクラス付与/削除)
javascript:
  function menu_toggle() {
    document.querySelector('.page').classList.toggle('open');
  }

dist/_nav.html
<nav class="page-nav">
  <ul>
    <li>
      <a href="company.html"><i class="far fa-building fa-fw"></i>会社案内</a>
    </li>
    <li>
      <a href="works.html"><i class="fas fa-home fa-fw"></i>施工事例</a>
    </li>
    <li>
      <a href="access.html"><i class="fas fa-car fa-fw"></i>交通案内</a>
    </li>
    <li>
      <a href="contact.html"><i class="far fa-envelope fa-fw"></i>お問合せ</a>
    </li>
  </ul>
</nav>
<button class="page-btn" onclick="menu_toggle()" type="button"><span class="fas fa-bars" title="メニューを開く"></span></button><button class="page-btn-close" onclick="menu_toggle()" type="button"><span class="fas fa-times" title="メニューを閉じる"></span></button>
<script>
  function menu_toggle() {
    document.querySelector('.page').classList.toggle('open');
  }
</script>
