dist/_results.html
<section class="section-bg" id="portfolio">
  <div class="container">
    <header class="section-header">
      <h3 class="section-title">
        施工実績
      </h3>
    </header>
    <div class="row">
      <div class="col-12">
        <ul id="portfolio-flters">
          <li class="filter-active" data-filter="*">
            全　　て
          </li>
          <li data-filter=".filter-renovation">
            大 規 模
          </li>
          <li data-filter=".filter-easily">
            簡　　易
          </li>
          <li data-filter=".filter-restore">
            台風直し
          </li>
          <li data-filter=".filter-tile">
            瓦・屋根
          </li>
          <li data-filter=".filter-wall">
            外　　壁
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="portfolio-container thumbnails">
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-10-18.html"><img class="img-responsive" src="reform/R01-10-18/ m10.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          M邸玄関・床リフォーム工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-10-10.html"><img class="img-responsive" src="reform/R01-10-10/ 11s14.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          S邸玄関リフォーム・桁の塗装・竹垣の交換工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-08-13.html"><img class="img-responsive" src="reform/R01-08-13/ t0031.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          T邸 外壁補修・塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-07-22.html"><img class="img-responsive" src="reform/R01-07-22/ k1014.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸 LDK床 張替補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-06-26.html"><img class="img-responsive" src="reform/R01-06-26/ s0030.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          S邸 畳の表替え工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-06-24.html"><img class="img-responsive" src="reform/R01-06-24/ hk0002.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 駐車場塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-06-23.html"><img class="img-responsive" src="reform/R01-06-23/ f024.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          F邸 瓦補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-05-30.html"><img class="img-responsive" src="reform/R01-05-30/ ht13.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          F邸 外壁塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-05-12.html"><img class="img-responsive" src="reform/R01-05-12/ f0202.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          F邸 外壁塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-05-07.html"><img class="img-responsive" src="reform/R01-05-07/fk8.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          F邸 外壁塗装 木部取替補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="R01-05-06.html"><img class="img-responsive" src="reform/R01-05-06/15619.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          T邸 外壁塗装 コーキング取換工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-03-14.html"><img class="img-responsive" src="reform/H31-03-14/n014.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          N邸洗面所の床張替
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-03-04.html"><img class="img-responsive" src="reform/H31-03-04/h010.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 外壁サイディング張替工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-02-25.html"><img class="img-responsive" src="reform/H31-02-25/si6.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          S邸の土台・壁補修
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-other wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-02-16.html"><img class="img-responsive" src="reform/H31-02-16/d8.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸ドローンでの屋根検査
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-02-15.html"><img class="img-responsive" src="reform/H31-02-15/n1.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          猫脱走防止扉取付工事
        </div>
        <p class="ellipsis">
          今話題の猫脱走防止とびら。居間・玄関・窓など、各室内の寸法に合わせて設置可能です。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-01-25.html"><img class="img-responsive" src="reform/H31-01-25/118.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸水回り・内装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H31-01-01.html"><img class="img-responsive" src="reform/H31-01-01/y1025.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸デッキ・通し柱補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-11-09.html"><img class="img-responsive" src="reform/H30-11-09/k217.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸台所・浴室・洗面所・外壁改修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-restore wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-11-07.html"><img class="img-responsive" src="reform/H30-11-07/k23.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸幕板板金補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-11-06.html"><img class="img-responsive" src="reform/H30-11-06/h38.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 外壁・屋根防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-restore filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-10-20.html"><img class="img-responsive" src="reform/H30-10-20/kn08.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸 カーポート補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-restore wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-09-29.html"><img class="img-responsive" src="reform/H30-09-29/sz6.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          S邸 塀板金改修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-tile filter-restore wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-09-27.html"><img class="img-responsive" src="reform/H30-09-27/ume24.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          U邸 屋根板金工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-09-24.html"><img class="img-responsive" src="reform/H30-09-24/yd22.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 デッキ補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-08-08.html"><img class="img-responsive" src="reform/H30-08-08/y2y.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 板塀設置工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-07-23.html"><img class="img-responsive" src="reform/H30-07-23/ski0722_05.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          S邸 軒天張替工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-tile wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-05-22.html"><img class="img-responsive" src="reform/H30-05-22/ak00009.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          A邸 屋根鈑金・漆喰補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-05-21.html"><img class="img-responsive" src="reform/H30-05-21/yak16.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          YAK邸 クロス貼り替え工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-tile wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-05-19.html"><img class="img-responsive" src="reform/H30-05-19/kat25.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸 瓦補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-tile wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-05-15.html"><img class="img-responsive" src="reform/H30-05-15/ot026.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          O邸 駐車場の屋根塗装・鈑金工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-tile wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-05-12.html"><img class="img-responsive" src="reform/H30-05-12/yyk30.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 瓦補修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-04-08.html"><img class="img-responsive" src="reform/H30-04-08/hy527.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 外壁・屋根防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-04-02-E.html"><img class="img-responsive" src="reform/H30-04-02-E/rk003.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 廊下改修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-04-02-D.html"><img class="img-responsive" src="reform/H30-04-02-D/tl004.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 トイレ改修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-04-02-C.html"><img class="img-responsive" src="reform/H30-04-02-C/kt15_2.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 台所改修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-04-02-B.html"><img class="img-responsive" src="reform/H30-04-02-B/kp06.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 カーポートグラスシート張り付け工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-04-02-A.html"><img class="img-responsive" src="reform/H30-04-02-A/kt015.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          台所改修工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H30-01-21.html"><img class="img-responsive" src="reform/H30-01-21/ni00022.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Ni邸 外塀防水塗装工事
        </div>
        <p class="ellipsis">
          白とライトブルーでベースにブロックを塗装、ご自宅もお庭も明るい雰囲気になりました。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-12-22.html"><img class="img-responsive" src="reform/H29-12-22/110n20.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          屋内塗装工事
        </div>
        <p class="ellipsis">
          廊下、会談、窓枠、玄関ドアの塗装を行いました。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-11-11.html"><img class="img-responsive" src="reform/H29-11-11/16hs.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 外壁防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-11-06.html"><img class="img-responsive" src="reform/H29-11-06/11n14.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          N邸 木塀改修工事
        </div>
        <p class="ellipsis">
          風雨に晒され傷んだ木塀を、檜の土台を使って改修、美しい木目が中庭を引き立てます。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-09-30.html"><img class="img-responsive" src="reform/H29-09-30/yd18.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          MD邸 外壁防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-09-11.html"><img class="img-responsive" src="reform/H29-09-11/kans2.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 外壁の防水塗装・構造材補強工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-09-01.html"><img class="img-responsive" src="reform/H29-09-01/yd18.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          YD邸 外壁防水塗装工事
        </div>
        <p class="ellipsis">
          経年劣化による外壁の痛みを丹念に修復防水塗装、丹念なコーキングで、新築の風合いが甦ります。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-tile wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-08-26.html"><img class="img-responsive" src="reform/H29-08-26/i25i.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          I邸 瓦吹き替え工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-05-28.html"><img class="img-responsive" src="reform/H29-05-28/nokit31.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          M邸 玄関軒天・駐車場防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-05-20.html"><img class="img-responsive" src="reform/H29-05-20/mi751.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          M邸外壁・屋根防水他リフォーム工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-04-20.html"><img class="img-responsive" src="reform/H29-04-20/mm9.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          MM邸外壁・屋根防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H29-02-26.html"><img class="img-responsive" src="reform/H29-02-26/1nk1.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 木部塗装工事
        </div>
        <p class="ellipsis">
          建具、デッキ、玄関まで木を使用。木専用塗料で、定期的なメンテナンスは大切な家を守ります。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H28-10-31.html"><img class="img-responsive" src="reform/H28-10-31/11a11.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          N邸 外壁防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H28-10-08.html"><img class="img-responsive" src="reform/H28-10-08/ss00.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸 木部外壁塗装工事
        </div>
        <p class="ellipsis">
          木の風合いが青い空と、山の背景にとけ込んでとても素晴らしい景観を醸し出しています。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H28-09-22.html"><img class="img-responsive" src="reform/H28-09-22/a22.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          S邸 外壁防水塗装工事
        </div>
        <p class="ellipsis"></p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation filter-wall filter-tile wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H28-09-19.html"><img class="img-responsive" src="reform/H28-09-19/b4.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          M邸 改修工事
        </div>
        <p class="ellipsis">
          雨水が割目から入り構造材もかなり腐食が進んでいました。外壁防水塗装と屋根防水塗装で、土蔵造りの風格と品格のある新築の美しい姿が蘇ってきました。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-wall filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H28-08-31.html"><img class="img-responsive" src="reform/H28-08-31/i5.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          木部外壁塗装工事
        </div>
        <p class="ellipsis">
          木部の外壁塗装の施工手順です。現場調査を行い、足場を組みます。高圧洗浄（水洗い）後に、専用洗浄液による色抜きを行います。風雨に晒され、傷んでいた外壁でしたが、元の美しい木肌を取り戻し、輝いています。
        </p>
      </div>
    </div>
  </div>
</section>

src/_partial/_results.slim
section#portfolio.section-bg
  .container
    header.section-header
      h3.section-title 施工実績
    .row
      .col-12
        ul#portfolio-flters
          li.filter-active data-filter="*"     全　　て
          li data-filter=".filter-renovation"  大 規 模
          li data-filter=".filter-easily"      簡　　易
          li data-filter=".filter-restore"     台風直し
          li data-filter=".filter-tile"        瓦・屋根
          li data-filter=".filter-wall"        外　　壁
          / li data-filter=".filter-other"       そ の 他
  .portfolio-container.thumbnails
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-10-31.html"
            img.img-responsive src="reform/R01-10-31/kw21.jpg"
        .card-header
          .card-title.h5
            |  M邸玄関框リフォーム工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-10-25.html"
            img.img-responsive src="reform/R01-10-25/ky7.jpg"
        .card-header
          .card-title.h5
            |  K邸棟瓦の補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-10-24.html"
            img.img-responsive src="reform/R01-10-24/mtk10.jpg"
        .card-header
          .card-title.h5
            |  M邸玄関框リフォーム工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-10-18.html"
            img.img-responsive src="reform/R01-10-18/m10.jpg"
        .card-header
          .card-title.h5
            |  M邸玄関・床リフォーム工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-10-10.html"
            img.img-responsive src="reform/R01-10-10/11s14.jpg"
        .card-header
          .card-title.h5
            | S邸玄関リフォーム・桁の塗装・竹垣の交換工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-08-13.html"
            img.img-responsive src="reform/R01-08-13/t0031.jpg"
        .card-header
          .card-title.h5
            | T邸 外壁補修・塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-07-22.html"
            img.img-responsive src="reform/R01-07-22/k1014.jpg"
        .card-header
          .card-title.h5
            | K邸 LDK床 張替補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-06-26.html"
            img.img-responsive src="reform/R01-06-26/s0030.jpg"
        .card-header
          .card-title.h5
            | S邸 畳の表替え工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-06-24.html"
            img.img-responsive src="reform/R01-06-24/hk0002.jpg"
        .card-header
          .card-title.h5
            | H邸 駐車場塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-06-23.html"
            img.img-responsive src="reform/R01-06-23/f024.jpg"
        .card-header
          .card-title.h5
            | F邸 瓦補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-05-30.html"
            img.img-responsive src="reform/R01-05-30/ht13.jpg"
        .card-header
          .card-title.h5
            | F邸 外壁塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-05-12.html"
            img.img-responsive src="reform/R01-05-12/f0202.jpg"
        .card-header
          .card-title.h5
            | F邸 外壁塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-05-07.html"
            img.img-responsive src="reform/R01-05-07/fk8.jpg"
        .card-header
          .card-title.h5
            | F邸 外壁塗装 木部取替補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-05-06.html"
            img.img-responsive src="reform/R01-05-06/15619.jpg"
        .card-header
          .card-title.h5
            | T邸 外壁塗装 コーキング取換工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-03-14.html"
            img.img-responsive src="reform/H31-03-14/n014.jpg"
        .card-header
          .card-title.h5
            | N邸洗面所の床張替
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-03-04.html"
            img.img-responsive src="reform/H31-03-04/h010.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁サイディング張替工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-02-25.html"
            img.img-responsive src="reform/H31-02-25/si6.jpg"
        .card-header
          .card-title.h5
            | S邸の土台・壁補修
          p.ellipsis
            | 
      .card.portfolio-item.filter-other.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-02-16.html"
            img.img-responsive src="reform/H31-02-16/d8.jpg"
        .card-header
          .card-title.h5
            | H邸ドローンでの屋根検査
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-02-15.html"
            img.img-responsive src="reform/H31-02-15/n1.jpg"
        .card-header
          .card-title.h5
            | 猫脱走防止扉取付工事
          p.ellipsis
            | 今話題の猫脱走防止とびら。居間・玄関・窓など、各室内の寸法に合わせて設置可能です。
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-01-25.html"
            img.img-responsive src="reform/H31-01-25/118.jpg"
        .card-header
          .card-title.h5
            | Y邸水回り・内装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-01-01.html"
            img.img-responsive src="reform/H31-01-01/y1025.jpg"
        .card-header
          .card-title.h5
            | Y邸デッキ・通し柱補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-11-09.html"
            img.img-responsive src="reform/H30-11-09/k217.jpg"
        .card-header
          .card-title.h5
            | K邸台所・浴室・洗面所・外壁改修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-restore.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-11-07.html"
            img.img-responsive src="reform/H30-11-07/k23.jpg"
        .card-header
          .card-title.h5
            | K邸幕板板金補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-11-06.html"
            img.img-responsive src="reform/H30-11-06/h38.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁・屋根防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-restore.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-10-20.html"
            img.img-responsive src="reform/H30-10-20/kn08.jpg"
        .card-header
          .card-title.h5
            | K邸 カーポート補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-restore.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-09-29.html"
            img.img-responsive src="reform/H30-09-29/sz6.jpg"
        .card-header
          .card-title.h5
            | S邸 塀板金改修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-tile.filter-restore.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-09-27.html"
            img.img-responsive src="reform/H30-09-27/ume24.jpg"
        .card-header
          .card-title.h5
            | U邸 屋根板金工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-09-24.html"
            img.img-responsive src="reform/H30-09-24/yd22.jpg"
        .card-header
          .card-title.h5
            | Y邸 デッキ補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-08-08.html"
            img.img-responsive src="reform/H30-08-08/y2y.jpg"
        .card-header
          .card-title.h5
            | Y邸 板塀設置工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-07-23.html"
            img.img-responsive src="reform/H30-07-23/ski0722_05.jpg"
        .card-header
          .card-title.h5
            | S邸 軒天張替工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-tile.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-22.html"
            img.img-responsive src="reform/H30-05-22/ak00009.jpg"
        .card-header
          .card-title.h5
            | A邸 屋根鈑金・漆喰補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-21.html"
            img.img-responsive src="reform/H30-05-21/yak16.jpg"
        .card-header
          .card-title.h5
            | YAK邸 クロス貼り替え工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-tile.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-19.html"
            img.img-responsive src="reform/H30-05-19/kat25.jpg"
        .card-header
          .card-title.h5
            | K邸 瓦補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-tile.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-15.html"
            img.img-responsive src="reform/H30-05-15/ot026.jpg"
        .card-header
          .card-title.h5
            | O邸 駐車場の屋根塗装・鈑金工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-tile.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-12.html"
            img.img-responsive src="reform/H30-05-12/yyk30.jpg"
        .card-header
          .card-title.h5
            | Y邸 瓦補修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-08.html"
            img.img-responsive src="reform/H30-04-08/hy527.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁・屋根防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-E.html"
            img.img-responsive src="reform/H30-04-02-E/rk003.jpg"
        .card-header
          .card-title.h5
            | Y邸 廊下改修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-D.html"
            img.img-responsive src="reform/H30-04-02-D/tl004.jpg"
        .card-header
          .card-title.h5
            | Y邸 トイレ改修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-C.html"
            img.img-responsive src="reform/H30-04-02-C/kt15_2.jpg"
        .card-header
          .card-title.h5
            | Y邸 台所改修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-B.html"
            img.img-responsive src="reform/H30-04-02-B/kp06.jpg"
        .card-header
          .card-title.h5
            | Y邸 カーポートグラスシート張り付け工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-A.html"
            img.img-responsive src="reform/H30-04-02-A/kt015.jpg"
        .card-header
          .card-title.h5
            | 台所改修工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-01-21.html"
            img.img-responsive src="reform/H30-01-21/ni00022.jpg"
        .card-header
          .card-title.h5
            | Ni邸 外塀防水塗装工事
          p.ellipsis
            | 白とライトブルーでベースにブロックを塗装、ご自宅もお庭も明るい雰囲気になりました。
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-12-22.html"
            img.img-responsive src="reform/H29-12-22/110n20.jpg"
        .card-header
          .card-title.h5
            | 屋内塗装工事
          p.ellipsis
            | 廊下、会談、窓枠、玄関ドアの塗装を行いました。
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-11-11.html"
            img.img-responsive src="reform/H29-11-11/16hs.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-11-06.html"
            img.img-responsive src="reform/H29-11-06/11n14.jpg"
        .card-header
          .card-title.h5
            | N邸 木塀改修工事
          p.ellipsis
            | 風雨に晒され傷んだ木塀を、檜の土台を使って改修、美しい木目が中庭を引き立てます。
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-09-30.html"
            img.img-responsive src="reform/H29-09-30/yd18.jpg"
        .card-header
          .card-title.h5
            | MD邸 外壁防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-09-11.html"
            img.img-responsive src="reform/H29-09-11/kans2.jpg"
        .card-header
          .card-title.h5
            | Y邸 外壁の防水塗装・構造材補強工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-09-01.html"
            img.img-responsive src="reform/H29-09-01/yd18.jpg"
        .card-header
          .card-title.h5
            | YD邸 外壁防水塗装工事
          p.ellipsis
            | 経年劣化による外壁の痛みを丹念に修復防水塗装、丹念なコーキングで、新築の風合いが甦ります。
      .card.portfolio-item.filter-tile.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-08-26.html"
            img.img-responsive src="reform/H29-08-26/i25i.jpg"
        .card-header
          .card-title.h5
            | I邸 瓦吹き替え工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-05-28.html"
            img.img-responsive src="reform/H29-05-28/nokit31.jpg"
        .card-header
          .card-title.h5
            | M邸 玄関軒天・駐車場防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-05-20.html"
            img.img-responsive src="reform/H29-05-20/mi751.jpg"
        .card-header
          .card-title.h5
            | M邸外壁・屋根防水他リフォーム工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-04-20.html"
            img.img-responsive src="reform/H29-04-20/mm9.jpg"
        .card-header
          .card-title.h5
            | MM邸外壁・屋根防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-02-26.html"
            img.img-responsive src="reform/H29-02-26/1nk1.jpg"
        .card-header
          .card-title.h5
            | H邸 木部塗装工事
          p.ellipsis
            | 建具、デッキ、玄関まで木を使用。木専用塗料で、定期的なメンテナンスは大切な家を守ります。
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-10-31.html"
            img.img-responsive src="reform/H28-10-31/11a11.jpg"
        .card-header
          .card-title.h5
            | N邸 外壁防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-10-08.html"
            img.img-responsive src="reform/H28-10-08/ss00.jpg"
        .card-header
          .card-title.h5
            | K邸 木部外壁塗装工事
          p.ellipsis
            | 木の風合いが青い空と、山の背景にとけ込んでとても素晴らしい景観を醸し出しています。
      .card.portfolio-item.filter-wall.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-09-22.html"
            img.img-responsive src="reform/H28-09-22/a22.jpg"
        .card-header
          .card-title.h5
            | S邸 外壁防水塗装工事
          p.ellipsis
            | 
      .card.portfolio-item.filter-renovation.filter-wall.filter-tile.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-09-19.html"
            img.img-responsive src="reform/H28-09-19/b4.jpg"
        .card-header
          .card-title.h5
            | M邸 改修工事
          p.ellipsis
            | 雨水が割目から入り構造材もかなり腐食が進んでいました。外壁防水塗装と屋根防水塗装で、土蔵造りの風格と品格のある新築の美しい姿が蘇ってきました。
      .card.portfolio-item.filter-wall.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-08-31.html"
            img.img-responsive src="reform/H28-08-31/i5.jpg"
        .card-header
          .card-title.h5
            | 木部外壁塗装工事
          p.ellipsis
            | 木部の外壁塗装の施工手順です。現場調査を行い、足場を組みます。高圧洗浄（水洗い）後に、専用洗浄液による色抜きを行います。風雨に晒され、傷んでいた外壁でしたが、元の美しい木肌を取り戻し、輝いています。
