src/_partial/_results_moto.slim
section#portfolio.section-bg
  .container
    header.section-header
      h3.section-title 施工実績
    .row
      .col-12
        ul#portfolio-flters
          li.filter-active data-filter="*"     全　　て
          li data-filter=".filter-renovation"  大 規 模
          li data-filter=".filter-easily"      簡　　易
          li data-filter=".filter-restore"     台風直し
          li data-filter=".filter-tile"        瓦・屋根
          li data-filter=".filter-wall"        外　　壁

  .portfolio-container.thumbnails

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        a href="H28-08-31.html"
          img.img-responsive src="reform/H28-08-31/i5.jpg"
          / .construction_photo
          /   img src="#{construction_photo}"

      .card-header
        .card-title.h5
          | 木部外壁塗装工事
      .card-body
        p.lineclamp
          | 木部の外壁塗装の施工手順です。現場調査を行い、足場を組みます。高圧洗浄（水洗い）後に、専用洗浄液による色抜きを行います。風雨に晒され、傷んでいた外壁でしたが、元の美しい木肌を取り戻し、輝いています。

    .card.portfolio-item.filter-renovation.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        a href="yyy.html"
          img.img-responsive src="assets/images/x/a1110.jpg"
      .card-header
        .card-title.h5
          | Y邸 外壁ガルバ張替え工事
      .card-body
        p.lineclamp
          |  ネイビーの金属サイディングと玄関木彫サイディングとの絶妙なバランスが外観を引き立てます。

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        a href="h2.html"
          img.img-responsive src="assets/images/x/ah1112.jpg"
      .card-header
        .card-title.h5
          | H邸 究極の美しさが甦る。
      .card-body
        p.lineclamp
          |  建具、デッキ、玄関まで木を使用。木専用塗料で、定期的なメンテナンスは大切な家を守ります。

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        a href="kh.html"
          img.img-responsive src="assets/images/x/ak1111.jpg"
      .card-header
        .card-title.h5
          | K邸 木の外壁に木専用塗料
      .card-body
        p
          |  木の風合いが青い空と、山の背景にとけ込んでとても素晴らしい景観を醸し出しています。

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        img.img-responsive src="assets/images/x/ak115.jpg"
      .card-header
        .card-title.h5
          | K邸  外壁を鈑金でカバー
      .card-body
        p
          |  外壁をガルバ鈑金で覆い、駐車場からの塗装もして、落ち着いた仕上がりになりました。

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        a href="n.html"
          img.img-responsive src="assets/images/x/an1114.jpg"
      .card-header
        .card-title.h5
          | Na邸 劣化の進む板塀を一新
      .card-body
        p
          |  中庭の板塀が、庭全体を暖かい雰囲気で包みこみ、全て手刻み、手塗りで仕上げていきます。

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        img.img-responsive src="assets/images/x/ani118.jpg"
      .card-header
        .card-title.h5
          | Mi邸 ブロック塀の防水塗装
      .card-body
        p
          |  白とライトブルーでベースにブロックを塗装、ご自宅もお庭も明かるい雰囲気になりました。

    .card.portfolio-item.filter-restore.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        img.img-responsive src="assets/images/x/ay113.jpg"
      .card-header
        .card-title.h5
          | Y邸 サイディングの塗装
      .card-body
        p
          |  経年劣化による外壁の痛みを丹念に修復防水塗装、丹念なコーキングで、新築の風合いが甦ります。

    .card.portfolio-item.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
      .card-image
        img.img-responsive src="assets/images/x/mat11.jpg"
      .card-header
        .card-title.h5
          | M邸 サイディング塗装
      .card-body
        p
          |  外壁と駐車場の塗装、軒天張替えから化粧垂木まで塗装して、新築の風貌が甦りました。

dist/_results_moto.html
<section class="section-bg" id="portfolio">
  <div class="container">
    <header class="section-header">
      <h3 class="section-title">
        施工実績
      </h3>
    </header>
    <div class="row">
      <div class="col-12">
        <ul id="portfolio-flters">
          <li class="filter-active" data-filter="*">
            全　　て
          </li>
          <li data-filter=".filter-renovation">
            大 規 模
          </li>
          <li data-filter=".filter-easily">
            簡　　易
          </li>
          <li data-filter=".filter-restore">
            台風直し
          </li>
          <li data-filter=".filter-tile">
            瓦・屋根
          </li>
          <li data-filter=".filter-wall">
            外　　壁
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="portfolio-container thumbnails">
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="H28-08-31.html"><img class="img-responsive" src="reform/H28-08-31/i5.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          木部外壁塗装工事
        </div>
      </div>
      <div class="card-body">
        <p class="lineclamp">
          木部の外壁塗装の施工手順です。現場調査を行い、足場を組みます。高圧洗浄（水洗い）後に、専用洗浄液による色抜きを行います。風雨に晒され、傷んでいた外壁でしたが、元の美しい木肌を取り戻し、輝いています。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-renovation wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="yyy.html"><img class="img-responsive" src="assets/images/x/a1110.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 外壁ガルバ張替え工事
        </div>
      </div>
      <div class="card-body">
        <p class="lineclamp">
          ネイビーの金属サイディングと玄関木彫サイディングとの絶妙なバランスが外観を引き立てます。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="h2.html"><img class="img-responsive" src="assets/images/x/ah1112.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          H邸 究極の美しさが甦る。
        </div>
      </div>
      <div class="card-body">
        <p class="lineclamp">
          建具、デッキ、玄関まで木を使用。木専用塗料で、定期的なメンテナンスは大切な家を守ります。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="kh.html"><img class="img-responsive" src="assets/images/x/ak1111.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸 木の外壁に木専用塗料
        </div>
      </div>
      <div class="card-body">
        <p>
          木の風合いが青い空と、山の背景にとけ込んでとても素晴らしい景観を醸し出しています。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/x/ak115.jpg" />
      </div>
      <div class="card-header">
        <div class="card-title h5">
          K邸  外壁を鈑金でカバー
        </div>
      </div>
      <div class="card-body">
        <p>
          外壁をガルバ鈑金で覆い、駐車場からの塗装もして、落ち着いた仕上がりになりました。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <a href="n.html"><img class="img-responsive" src="assets/images/x/an1114.jpg" /></a>
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Na邸 劣化の進む板塀を一新
        </div>
      </div>
      <div class="card-body">
        <p>
          中庭の板塀が、庭全体を暖かい雰囲気で包みこみ、全て手刻み、手塗りで仕上げていきます。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/x/ani118.jpg" />
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Mi邸 ブロック塀の防水塗装
        </div>
      </div>
      <div class="card-body">
        <p>
          白とライトブルーでベースにブロックを塗装、ご自宅もお庭も明かるい雰囲気になりました。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-restore filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/x/ay113.jpg" />
      </div>
      <div class="card-header">
        <div class="card-title h5">
          Y邸 サイディングの塗装
        </div>
      </div>
      <div class="card-body">
        <p>
          経年劣化による外壁の痛みを丹念に修復防水塗装、丹念なコーキングで、新築の風合いが甦ります。
        </p>
      </div>
    </div>
    <div class="card portfolio-item filter-easily wow fadeInUp" data-wow-delay="0.1s">
      <div class="card-image">
        <img class="img-responsive" src="assets/images/x/mat11.jpg" />
      </div>
      <div class="card-header">
        <div class="card-title h5">
          M邸 サイディング塗装
        </div>
      </div>
      <div class="card-body">
        <p>
          外壁と駐車場の塗装、軒天張替えから化粧垂木まで塗装して、新築の風貌が甦りました。
        </p>
      </div>
    </div>
  </div>
</section>
