dist/_side.html
<aside class="page-aside">
  <ul class="list-unstyled"></ul>
  <div class="card">
    <div class="card-header">
      <div class="card-title show-desktop">
        <h5 class="text-left">
          ホームメイドで
        </h5>
        <h5 class="text-right">
          嬉しいリフォーム
        </h5>
      </div>
      <div class="card-title show-mobile">
        <h5>
          ホームメイドで 嬉しいリフォーム
        </h5>
      </div>
    </div>
    <div class="card-body">
      <address>
        <dl>
          <dt>
            株式会社ホームメイド
          </dt>
          <dt>
            〒500-8029
          </dt>
          <dt>
            岐阜市東材木町37-2
          </dt>
          <dt>
            代表者 臼井常雄
          </dt>
          <dt>
            電話&nbsp;<a href="tel:058-262-5694">058-262-5694</a>
          </dt>
          <dt>
            FAX 058-262-5689
          </dt>
          <dt>
            携帯&nbsp;<a href="tel:090-8451-0238">090-8451-0238</a>
          </dt>
          <dt>
            メール&nbsp;<a href="mailto:contact@homemade-reform.com?subject=%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b">contact@homemade-reform.com</a>
          </dt>
        </dl>
      </address>
    </div>
  </div>
</aside>

src/_partial/_side.slim
aside.page-aside
  ul.list-unstyled
    / li
    /   a href="#" style="background-image: url('assets/images/signboard_big_reform.png'); width: 20vw; height: 10vw; background-size: cover; display: inline-block;"
    / li
    /   a href="#" style="background-image: url('assets/images/signboard_small_reform.png'); width: 20vw; height: 10vw; background-size: contain; display: inline-block;"

      / a href="#" style="background-image: url('assets/images/signboard.jpg'); width: 20vw; height: 10vw; background-size: contain; display: inline-block; font-size: 36px; padding-top: calc(10vw-18px); color: black;"
      /   | 大規模改修
    / li
    /   a href="#"
    /     img.img-responsive src="assets/images/side_exterior_wall_coating.png" alt="木部外壁塗装の手順" style="max-width: 30vw;"
    /     / img.img-responsive src="assets/images/signboard.jpg"
    / li
    /   a href="#"
    /     / img.img-responsive src="assets/images/side_before_after.png" alt="ビフォーアフター"
    /     img.img-responsive src="assets/images/signboard.jpg"
    / li
    /   a href="#"
    /     img.img-responsive src="assets/images/signboard3.png"

  .card
    .card-header
      .card-title.show-desktop
        h5.text-left
          | ホームメイドで
        h5.text-right
          | 嬉しいリフォーム
      .card-title.show-mobile
        h5
          | ホームメイドで 嬉しいリフォーム
    .card-body
      include _address_compact
