src/hm/2019_1_2.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows">
<TITLE>サイディング貼り直しの工程-ホームメイド</TITLE>
<meta name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"/>
<meta name="robots" content="noodp"/>
<meta name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"/>

<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！" />
<meta property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。" />
<meta property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！" />


<LINK rel="stylesheet" href="hpbparts.css" type="text/css" id="hpbparts">
<LINK rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css" id="hpbcontainer">
<LINK rel="stylesheet" href="main_1Ad_2c.css" type="text/css" id="hpbmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbuser">
</HEAD>
<BODY id="hpb-template-01-01d-01" class="hpb-layoutset-02" background="mu10.jpg">
<DIV id="hpb-skip"><a href="#hpb-title">本文へスキップ</a></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="http://www.kaeru.gr.jp/hm/index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper -->
    <DIV id="hpb-wrapper">
      <!-- page title -->
      <DIV id="hpb-title">
        <H2><SPAN class="ja">デッキ補修工事の工程</SPAN><SPAN class="en">Outer wall Color best　PAINT</SPAN></H2>
      </DIV>
      <!-- page title end --><!-- main -->
      <DIV id="hpb-main">
        <!-- recruit -->
        <DIV id="recruit">
          <P class="large">Y邸 デッキ・通し柱補修工事</P>
          <DL>
            <DT>通し柱養生<DD><br>
            <img src="19_1_1/y1017.jpg" width="400" height="266" border="0"><DT>デッキ保護の板金<DD>木部デッキ保護のため板金でカバー<br>
            <img src="19_1_1/y1018.jpg" width="401" height="266" border="0"><DT>サイディング貼り1<DD><br>
            <img src="19_1_1/y1019.jpg" width="401" height="266" border="0"><DT>サイディング仕上げ調整2<DD><br>
            <img src="19_1_1/y1020.jpg" width="400" height="266" border="0"><DT>サイディング仕上げ調整<DD><br>
            <img src="19_1_1/y1024.jpg" width="400" height="266" border="0"><DT>サイディング貼り3<DD><br>
            <img src="19_1_1/y1021.jpg" width="400" height="266" border="0"><DT>玄関のサイディング4<DD><br>
            <img src="19_1_1/y1022.jpg" width="400" height="266" border="0"><DT>サイディング貼り5<DD>配線等の緊桔<br>
            <img src="19_1_1/y1023.jpg" width="400" height="266" border="0"><DT>サイディング貼り完了<DD><br>
            <img src="19_1_1/y1025.jpg" width="401" height="266" border="0"><DT>塗装のための養生<DD>現状の色と合わせるのはプロの技術<br>
            <img src="19_1_1/y1026.jpg" width="400" height="266" border="0"><DT>玄関の養生3<DD>玄関等保護のためしっかり養生<br>
            <img src="19_1_1/y1027.jpg" width="400" height="266" border="0"><DT>養生シート<DD><br>
            <img src="19_1_1/y1028.jpg" width="400" height="266" border="0"><DT>サイディング塗装 <DD>既設の色と遜色のない色に仕上げます<br>
            <img src="19_1_1/y1029.jpg" width="401" height="266" border="0"><DT>東面外壁塗装<DD>綺麗に仕上げで、色の区別がつきません<br>
            <img src="19_1_1/y1030.jpg" width="400" height="266" border="0"><DT>玄関塗装の仕上がり<DD><br>
            <img src="19_1_1/y1031.jpg" width="401" height="266" border="0"><DT>外壁の仕上がり<DD><br>
            <img src="19_1_1/y1032.jpg" width="401" height="266" border="0"><DT>木製手摺り取付<DD><br>
            <img src="19_1_1/y1033.jpg" width="401" height="266" border="0"><DT>東側の木製デッキのパーツ<DD><br>
            <img src="19_1_1/y1034.jpg" width="400" height="266" border="0"><DT>東面の木製手摺りの取付<DD><br>
            <img src="19_1_1/y1035.jpg" width="400" height="266" border="0"><DT>東面の木製手摺りの取付<DD><br>
            <img src="19_1_1/y1036.jpg" width="400" height="266" border="0"><DT>東面の木製手摺りの取付<DD><br>
            <img src="19_1_1/y1037.jpg" width="400" height="266" border="0"><DT>木製手摺り笠木取付<DD>雨水仕舞いに笠木を取り付けます<br>
            <img src="19_1_1/y1038.jpg" width="401" height="266" border="0"><DT>仕上げ再塗装1<DD><br>
            <img src="19_1_1/y1043.jpg" width="401" height="266" border="0"><DT>仕上げ再塗装2<DD><br>
            <img src="19_1_1/y1042.jpg" width="400" height="266" border="0"><DT>仕上げ再塗装3<DD><br>
            <img src="19_1_1/y1046.jpg" width="400" height="266" border="0"><DT>仕上げ再塗装4<DD><br>

            <img src="19_1_1/y1045.jpg" width="400" height="266" border="0"><DT>完成(足場外し)<DD><br>
            <img src="19_1_1/y1044.jpg" width="400" height="266" border="0"><DT>完成1<DD><br>
            <img src="19_1_1/2019_4.jpg" width="400" height="266" border="0"><DT>完成2<DD><br>
            <img src="19_1_1/2019_4_2.jpg" width="400" height="266" border="0"><DT>完成3<DD><br>
            <img src="19_1_1/2019_4_2_2.jpg" width="400" height="266" border="0"></DL>


          <IMG src="chs/vv111.gif" border="0" style="border-top-width : 0px;border-left-width : 0px;border-right-width : 0px;border-bottom-width : 0px;" width="641" height="38">
          <DL>
            <DD>〒500-8029<BR>
            岐阜市東材木町37-2<BR>
            携帯. 090-8451-0238<BR>
            TEL. 058-262-5694　FAX. 058-262-5689<BR>
            E-mail. <A href="mailto:info@builder**.jp">usui_@kaeru.gr.jp</A><BR>
            担当者 臼井 まで　お気軽にご連絡ください。
          
          
          
          </DL>
          <DIV id="pagetop"><a href="#hpb-container">このページの先頭へ</a></DIV>
        </DIV>
        <!-- recruit end -->
      </DIV>
      <!-- main end -->
    </DIV>
    <!-- wrapper end --><!-- navi -->
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="http://www.kaeru.gr.jp/hm/index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-concept"><A href="http://www.kaeru.gr.jp/hm/concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="http://www.kaeru.gr.jp/hm/service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="http://www.kaeru.gr.jp/hm/news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="http://www.kaeru.gr.jphm/company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="http://www.kaeru.gr.jp/hm/recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="http://www.kaeru.gr.jp/hm/contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- navi end --><!-- aside -->
    <DIV id="hpb-aside">
      <H3 class="hpb-c-index">バナースペース</H3>
      <DIV id="banner">
        <UL>
          <LI><A href="http://www.kaeru.gr.jp/hm/service.html" id="banner-service">施工事例</A> 
          <LI><A href="http://www.kaeru.gr.jp/hm/mokubut2.html" id="banner-recruit">木部外壁塗装の手順</A> 
          <LI><A href="http://www.kaeru.gr.jp/hm/sekoo3.html" id="banner-beaf">ビフォーアフター</A> 
          <LI><A href="http://www.kaeru.gr.jp/hm/access.html" id="banner-access">アクセス</A> 
          <LI><a href="http://ameblo.jp/home-paint/" id="banner-paint" style="background-image : url(top_banner_1Ad_04.png);">ブログ</a> 
        </UL>
      </DIV>
      <DIV id="companyinfo">
        <H3>ホームメイドで嬉しいリフォーム！</H3>
        <P>〒500-8029<BR>
        岐阜市東材木町37-2<BR>
        代表者 臼井常雄<BR>
        </P>
        <P>TEL 058-262-5694<BR>
        FAX 058-262-5689<BR>
        携帯 090-8451-0238</P>
      </DIV>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html">プライバシーポリシー</A> 
        <LI><A href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>

src/hm/2019_1_2.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | サイディング貼り直しの工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02[background="mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="http://www.kaeru.gr.jp/hm/index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | デッキ補修工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | Y邸 デッキ・通し柱補修工事
              dl
                dt
                  | 通し柱養生
                dd
                  br
                  img[src="19_1_1/y1017.jpg" width="400" height="266" border="0"]
                dt
                  | デッキ保護の板金
                dd
                  | 木部デッキ保護のため板金でカバー
                  br
                  img[src="19_1_1/y1018.jpg" width="401" height="266" border="0"]
                dt
                  | サイディング貼り1
                dd
                  br
                  img[src="19_1_1/y1019.jpg" width="401" height="266" border="0"]
                dt
                  | サイディング仕上げ調整2
                dd
                  br
                  img[src="19_1_1/y1020.jpg" width="400" height="266" border="0"]
                dt
                  | サイディング仕上げ調整
                dd
                  br
                  img[src="19_1_1/y1024.jpg" width="400" height="266" border="0"]
                dt
                  | サイディング貼り3
                dd
                  br
                  img[src="19_1_1/y1021.jpg" width="400" height="266" border="0"]
                dt
                  | 玄関のサイディング4
                dd
                  br
                  img[src="19_1_1/y1022.jpg" width="400" height="266" border="0"]
                dt
                  | サイディング貼り5
                dd
                  | 配線等の緊桔
                  br
                  img[src="19_1_1/y1023.jpg" width="400" height="266" border="0"]
                dt
                  | サイディング貼り完了
                dd
                  br
                  img[src="19_1_1/y1025.jpg" width="401" height="266" border="0"]
                dt
                  | 塗装のための養生
                dd
                  | 現状の色と合わせるのはプロの技術
                  br
                  img[src="19_1_1/y1026.jpg" width="400" height="266" border="0"]
                dt
                  | 玄関の養生3
                dd
                  | 玄関等保護のためしっかり養生
                  br
                  img[src="19_1_1/y1027.jpg" width="400" height="266" border="0"]
                dt
                  | 養生シート
                dd
                  br
                  img[src="19_1_1/y1028.jpg" width="400" height="266" border="0"]
                dt
                  | サイディング塗装 
                dd
                  | 既設の色と遜色のない色に仕上げます
                  br
                  img[src="19_1_1/y1029.jpg" width="401" height="266" border="0"]
                dt
                  | 東面外壁塗装
                dd
                  | 綺麗に仕上げで、色の区別がつきません
                  br
                  img[src="19_1_1/y1030.jpg" width="400" height="266" border="0"]
                dt
                  | 玄関塗装の仕上がり
                dd
                  br
                  img[src="19_1_1/y1031.jpg" width="401" height="266" border="0"]
                dt
                  | 外壁の仕上がり
                dd
                  br
                  img[src="19_1_1/y1032.jpg" width="401" height="266" border="0"]
                dt
                  | 木製手摺り取付
                dd
                  br
                  img[src="19_1_1/y1033.jpg" width="401" height="266" border="0"]
                dt
                  | 東側の木製デッキのパーツ
                dd
                  br
                  img[src="19_1_1/y1034.jpg" width="400" height="266" border="0"]
                dt
                  | 東面の木製手摺りの取付
                dd
                  br
                  img[src="19_1_1/y1035.jpg" width="400" height="266" border="0"]
                dt
                  | 東面の木製手摺りの取付
                dd
                  br
                  img[src="19_1_1/y1036.jpg" width="400" height="266" border="0"]
                dt
                  | 東面の木製手摺りの取付
                dd
                  br
                  img[src="19_1_1/y1037.jpg" width="400" height="266" border="0"]
                dt
                  | 木製手摺り笠木取付
                dd
                  | 雨水仕舞いに笠木を取り付けます
                  br
                  img[src="19_1_1/y1038.jpg" width="401" height="266" border="0"]
                dt
                  | 仕上げ再塗装1
                dd
                  br
                  img[src="19_1_1/y1043.jpg" width="401" height="266" border="0"]
                dt
                  | 仕上げ再塗装2
                dd
                  br
                  img[src="19_1_1/y1042.jpg" width="400" height="266" border="0"]
                dt
                  | 仕上げ再塗装3
                dd
                  br
                  img[src="19_1_1/y1046.jpg" width="400" height="266" border="0"]
                dt
                  | 仕上げ再塗装4
                dd
                  br
                  img[src="19_1_1/y1045.jpg" width="400" height="266" border="0"]
                dt
                  | 完成(足場外し)
                dd
                  br
                  img[src="19_1_1/y1044.jpg" width="400" height="266" border="0"]
                dt
                  | 完成1
                dd
                  br
                  img[src="19_1_1/2019_4.jpg" width="400" height="266" border="0"]
                dt
                  | 完成2
                dd
                  br
                  img[src="19_1_1/2019_4_2.jpg" width="400" height="266" border="0"]
                dt
                  | 完成3
                dd
                  br
                  img[src="19_1_1/2019_4_2_2.jpg" width="400" height="266" border="0"]
              img[src="chs/vv111.gif" border="0" style="border-top-width : 0px;border-left-width : 0px;border-right-width : 0px;border-bottom-width : 0px;" width="641" height="38"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="http://www.kaeru.gr.jp/hm/index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="http://www.kaeru.gr.jp/hm/concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="http://www.kaeru.gr.jp/hm/service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="http://www.kaeru.gr.jp/hm/news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="http://www.kaeru.gr.jphm/company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="http://www.kaeru.gr.jp/hm/recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="http://www.kaeru.gr.jp/hm/contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="http://www.kaeru.gr.jp/hm/service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="http://www.kaeru.gr.jp/hm/mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="http://www.kaeru.gr.jp/hm/sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="http://www.kaeru.gr.jp/hm/access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html"]
                | プライバシーポリシー
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html"]
                | 特定商取引法に関する記述
