src/hm/sp1/contact.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>お問い合わせ&nbsp;-&nbsp;ホームメイド</TITLE>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- contact -->
      <DIV id="contact">
        <P class="large">リフォームについてのお問い合わせは、こちらで受付しております。</P>
        <DIV class="hpb-section">
          <H3>電話・FAX</H3>
          <DL>
            <DT>TEL 
            <DD>058-262-5694（平日 08:00〜22:00） 
            <DT>FAX 
            <DD>058-262-5689 
            <DT>mail 
            <DD><A href="mailto:usui_@kaeru.gr.jp">usui_@kaeru.gr.jp</A> 
            <DT>携帯 
            <DD>090-8451-0238 
          </DL>
          <FORM method="get" action="file:///C:/HP_up/かえるフォーラム/cgi-bin/formmail/form.cgi"><INPUT type="HIDDEN" name="_sent" value="usui_@kaeru.gr.jp"><INPUT type="HIDDEN" name="Require" value="姓,名,お問い合せ内容,"><INPUT type="HIDDEN" name="Subject" value="HPお問い合わせ"><INPUT type="HIDDEN" name="Check" value="on"><BR>
          <H3>お問い合わせフォーム</H3>
          <P>リフォームについてのお問い合わせは、下記にて承っております。</P>
          <P>*は必須項目です。</P>
          <TABLE>
            <TBODY>
              <TR>
                <TH>お問い合わせ内容*</TH>
                <TD><TEXTAREA name="message" class="l" cols="23" rows="12"></TEXTAREA></TD>
              </TR>
              <TR>
                <TH>お名前（漢字）*</TH>
                <TD><INPUT type="text" name="name" class="m"></TD>
              </TR>
              <TR>
                <TH>お名前（フリガナ）*</TH>
                <TD><INPUT type="text" name="kana" class="m"></TD>
              </TR>
              <TR>
                <TH>E-Mail*</TH>
                <TD><INPUT type="text" name="email" class="l"></TD>
              </TR>
              <TR>
                <TH>電話番号（半角）*</TH>
                <TD><INPUT type="text" name="tel" class="l"></TD>
              </TR>
              <TR>
                <TH>FAX番号（半角）</TH>
                <TD><INPUT type="text" name="fax" class="l"></TD>
              </TR>
            </TBODY>
          </TABLE>
          <INPUT type="submit" value="　　送信　　" class="button"> </FORM>
          <HR>
          <DIV id="pagetop"><A href="#hpb-container">このページの先頭へ</A></DIV>
        </DIV>
      </DIV>
      <!-- contact end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <div id="hpb-aside">
      <h3 class="hpb-c-index">バナースペース</h3>
      <div id="banner">
        <ul>
          <li><a href="service.html" id="banner-service">施工事例</a> 
          <li><a href="mokubut2.html" id="banner-recruit">木部外壁塗装の手順</a> 
          <li><a href="sekoo3.html" id="banner-beaf">ビフォーアフター</a> 
          <li><a href="access.html" id="banner-access">アクセス</a> 
          <li><a href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</a> 
        </ul>
      </div>
      <div id="companyinfo">
        <h3>ホームメイドで嬉しいリフォーム！</h3>
        <p>〒500-8029<br>
        岐阜市東材木町37-2<br>
        代表者 臼井常雄<br>
        </p>
        <p>TEL 058-262-5694<br>
        FAX 058-262-5689<br>
        携帯 090-8451-0238</p>
      </div>
    </div>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>

src/hm/contact.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | お問い合わせ-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | お問い合わせ
              span.en
                | CONTACT US
          #hpb-main
            #contact
              p.large
                | リフォームについてのお問い合わせは、こちらで受付しております。
              h3
                | 電話・FAX
              dl
                dt
                  | TEL 
                dd
                  | 058-262-5694（平日 08:00〜22:00） 
                dt
                  | FAX 
                dd
                  | 058-262-5689 
                dt
                  | mail 
                dd
                  a[href="mailto:usui_@kaeru.gr.jp"]
                    | usui_@kaeru.gr.jp
                dt
                  | 携帯 
                dd
                  | 090-8451-0238 
              form[method="get" action="../cgi-bin/formmail/form.cgi.html"]
                input[type="HIDDEN" name="_sent" value="usui_@kaeru.gr.jp"]
                input[type="HIDDEN" name="Require" value="姓,名,お問い合せ内容,"]
                input[type="HIDDEN" name="Subject" value="HPお問い合わせ"]
                input[type="HIDDEN" name="Check" value="on"]
                br
                h3
                  | お問い合わせフォーム
                p
                  | リフォームについてのお問い合わせは、下記にて承っております。
                p
                  | *は必須項目です。
                table
                  tbody
                    tr
                      th
                        | お問い合わせ内容*
                      td
                        textarea.l[name="message" cols="40" rows="12"]
                    tr
                      th
                        | お名前（漢字）*
                      td
                        input.m[type="text" name="name"]
                    tr
                      th
                        | お名前（フリガナ）*
                      td
                        input.m[type="text" name="kana"]
                    tr
                      th
                        | E-Mail*
                      td
                        input.l[type="text" name="email"]
                    tr
                      th
                        | 電話番号（半角）*
                      td
                        input.l[type="text" name="tel"]
                    tr
                      th
                        | FAX番号（半角）
                      td
                        input.l[type="text" name="fax"]
                input.button[type="submit" value="　　送信　　"]
              hr
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
