src/hm/index.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows">
<TITLE>株式会社 ホームメイド</TITLE>
<meta name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・桁等の構造材の腐りや腐食の補修、取り替えならホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでアップ！検査・見積もり無料。"/>
<meta name="robots" content="noodp"/>
<meta name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"/>

<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="og:title" content="かえる外壁、塗装を岐阜でお考えならホームメイドにお任せください！" />
<meta property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。" />
<meta property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！" />


<LINK rel="stylesheet" href="hpbparts.css" type="text/css" id="hpbparts">
<LINK rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css" id="hpbcontainer">
<LINK rel="stylesheet" href="main_1Ad_2c.css" type="text/css" id="hpbmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbuser">
<LINK rel="stylesheet" href="hpb-carousel1.css" type="text/css" id="hpb-carousel">
<SCRIPT type="text/javascript" src="jquery.min.js"><!-- hpbiptitle jQuery library --></SCRIPT>
<SCRIPT type="text/javascript" src="jquery.bxslider.js">hpb-carousel-bxslider-js</SCRIPT>
<SCRIPT><!--
jQuery(function(){jQuery( '#hpb-carousel-list1' ).bxSlider({ controls: true, captions: true, auto: true, pager: false, ticker: false, maxSlides: 3, moveSlides: 3, slideWidth: 150, slideMargin: 10, speed: 1000, pause: 3000 });});
--><!--hpb-carousel1--></SCRIPT>
<SCRIPT type="text/javascript" language="JavaScript">
<!--HPB_SCRIPT_UAREDIRECT
if(document.referrer.indexOf(document.location.hostname)==-1){ if (navigator.userAgent.indexOf('iPhone') > 0 || (navigator.userAgent.indexOf('Android') > 0 && navigator.userAgent.indexOf('Mobile') > 0)) {location.href = 'sp4/index.html';}}//-->
</SCRIPT>






 </HEAD>
<BODY id="hpb-template-01-01d-01" class="hpb-layoutset-01">
<DIV id="hpb-skip"><a href="#hpb-title">本文へスキップ</a></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>株式会社 ホームメイドは 木部防水塗装・木部補修工事・一般外壁防水塗装・水回り・内装クロス・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper -->
    <DIV id="hpb-wrapper">
      <!-- page title -->
      <DIV id="hpb-title" class="hpb-top-image">
        <H2>リフォームの楽しさと喜びをかたちにする。住む人の愛が溢れる、生命（いのち）が活きる、歓びの住まいづくりに貢献する。<a href="http://www.homemade-reform.com">homemade-refom.com</a></H2>
      </DIV>
      <!-- page title end --><!-- main -->
      <DIV id="hpb-main">
        <!-- toppage -->
        <DIV id="toppage">
          <p>※ ホームメイドは、建築リフォームを専門とする会社です。伝統的木造住宅の木部外壁の塗装、漆喰の塗替え、瓦の取替え、床の張替えから水回りまで、外構、どんなご要望にもお応えする<a href="sp4/index.html">リフォームのスペシャリスト</a>です。(Iphone用ページは<A href="http://www.kaeru.gr.jp/hm/sp1">こちら</A>)</p>
          <DIV id="toppage-topics">
            <H3>TOPICS 2019 </H3>
            　 <font color="#990000"><b>※ ビフォーアフターでこんなに変わる！</b>（写真クリックでビフォーへ）</font><b><font color="#ff0000">令和元年10月31日更新<br>
            </font></b>
            <table cellpadding="0" style="margin-top : 0px;margin-right : 0px;margin-bottom : 0px;border-width : 0px;border-style : none;border-color : white;">
	     
              <tbody>
	        <tr>
                  <td valign="middle" align="center" colspan="4" style="text-align : center;border-top-width : 1px;border-right-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;">完成写真をクリックしていただくとその施工状況を閲覧できます。。<br>
                  ご要望に合わせた施工のビフォーアフターをご確認下さい。</td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;" bgcolor="#cccccc" colspan="4">&nbsp;<font color="#000099">リフォームを項目ごとに掲載しました。<a href="2index.html"><font color="#990000">こちら</font></a>をクリック</font></td>
                </tr>
                <tr>
                  <td valign="middle" style="border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="23"><a href="1_10_24.html"><img src="01_10_24/mtk0.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;" height="23"><a href="1_10_25.html"><img src="01_10_25/ky01.jpg" width="121" height="86" border="0"></a></td>
                  <td style="text-align : center;" align="center" valign="middle" height="23"><a href="1_10_31.html"><img src="1_10_31/kw0.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="23"><font color="#0000ff">←屋根防水塗装<br>
                  下塗り完了</font></td>
                </tr>
                <tr>
                  <td valign="middle" style="border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="101"><a href="01_7_22.html"><img src="r1_7_22/k1000.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;" height="101">&nbsp;<a href="01_8_13.html"><img src="8_13/t0001.jpg" width="121" height="86" border="0"></a></td>
                  <td style="text-align : center;" align="center" valign="middle" height="101"><a href="01_10_10.html"><img src="10_10/11s1.jpg" width="121" height="86" border="0"></a>&nbsp;</td>
                  <td valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="101"><a href="1_10_18.html"><img src="01_10_18/m00.jpg" width="121" height="86" border="0"></a>&nbsp;</td>
                </tr>
                <tr>
                  <td valign="middle" style="border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center"><a href="01_6_26.html"><img src="01_6_26/s0000.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="bottom" align="center" style="text-align : center;"><a href="01_6_23.html"><img src="01_6_23/f111.jpg" width="121" height="86" border="0"></a>&nbsp;</td>
                  <td style="text-align : center;" align="center" valign="middle">&nbsp;<a href="01_5_4.html"><img src="5_30/ht00.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
">&nbsp;<a href="2019_3_5.html"><img src="6_24_h/hk0.jpg" width="121" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="01_5_6.html"><img src="6_28/f0000.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;" bgcolor="#ffffff"><a href="2019_2_16.html"><img src="2_15d/d1.jpg" width="121" height="86" border="0"></a></td>
                  <td style="text-align : center;" align="center" valign="middle"><a href="2019_2_24.html"><img src="u_225/si0.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
"><a href="2019_3_14.html"><img src="u3_14/n000.jpg" width="121" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="11_9_1.html"><img src="12_25/k_000.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="stn1.html"><img src="sten1/st0.jpg" width="90" height="86" border="0"></a></td>
                  <td style="text-align : center;" align="center" valign="middle">&nbsp;<a href="2019_1_1.html"><img src="2019_1_1/y100.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
"><a href="2019_2_16_2.html"><img src="2_15d/n0.jpg" width="121" height="86" border="0"></a>&nbsp;</td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="refys10_20.html"><img src="w/kn00.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="11_7_1.html"><img src="11_7/k000.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="11_6.html"><img src="11_5/h00.jpg" width="121" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="2019_1_25.html"><img src="1_25/2013.jpg" width="121" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="refkwi8_26.html"><img src="w/i000i.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="refwaka9_23.html"><img src="w/y5y.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="refwaka9_27.html"><img src="w/ume00.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="refwaka9_29.html"><img src="w/sz10.jpg" width="120" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="ref6_24.html"><img src="imgs/kat1.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="refys7_4.html"><img src="imgs/yyk01.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="refysw7_15.html"><img src="w/y1y1.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="refski7_22.html"><img src="imu/ski00.jpg" width="120" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="refh_3_31.html"><img src="y/hss1.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center"><a href="ref5_15.html"><img src="y/ot1.jpg" width="120" height="86" border="0"></a>&nbsp;</td>
                  <td valign="middle" style="text-align : center;" align="center">&nbsp;<a href="ref5_22.html"><img src="y/ak0011.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref5_23.html"><img src="ap/yak01.jpg" width="120" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" width="30" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="ref9_11.html"><img src="y/ya0111.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center">&nbsp;<a href="ref9_30.html"><img src="y/2a12.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center">&nbsp;<a href="mokubut424.html"><img src="y/2a11.jpg" width="120" height="86" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="mokubut528.html"><img src="y/2a16.jpg" width="120" height="83" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" style="text-align : center;" align="center"><a href="mokubut5.html"><img src="y/2a17.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" style="text-align : center;" align="center">&nbsp;<a href="ref12_02h.html"><img src="y/2a22.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref01_21.html"><img src="y/2qa21.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="sekoo2.html"><img src="imgs/ys000.jpg" width="120" height="86" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="mokubut3.html"><img src="y/2a14.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="mokubut226.html"><img src="y/2a15.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref11_11.html"><img src="y/2a18.jpg" width="120" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref12_22.html"><img src="y/2a19.jpg" width="120" height="83" border="0"></a></td>
                </tr>
                <tr>
                  <td valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"><a href="ref4_3.html"><img src="y/tl005.jpg" width="124" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref4_3.html#%23111"><img src="y/rk004.jpg" width="124" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref4_3_kt.html"><img src="y/kt016.jpg" width="124" height="83" border="0"></a></td>
                  <td valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;">&nbsp;<a href="ref4_3_kp.html"><img src="y/kp01.jpg" width="126" height="83" border="0"></a></td>
                </tr>
              </tbody>
            </table>
            　　 　　　 　　　 　　　 　　　 　　　 　　　 　　　
            <UL>
	      <li><font color="#ff0000"><b>↑</b>完成写真をクリックで、施工工程を見られるように致しました。</font>

	　　　<li>Ot邸の<a href="ref5_15.html">駐車場の外壁板金工事</a>完成までをアップしました。(5/15更新) 
	      
              <li>Ha邸の<a href="ref5_9.html">完成しました。</a>が完了しました。(5/15更新) 
              
              <li>Ha邸の<a href="ref5_4.html">屋根上塗り・外壁中塗り</a>が完了しました。(5/6更新) 
              
              <li>Ha邸の<a href="ref4_9.html">養生</a>に入りました。(4/8更新) 
	      
              
              <li>Ha邸の<a href="ref4_8_.html">高圧洗浄</a>に入りました。(4/7更新)      
              
              
              <li>Ha邸の<a href="refh_3_31.html">足場組み</a>が始まりました。(4/1更新)     
              
              
              <li>Y邸の<A href="ref3_5.html">足場を外して全景が姿を現しました。</A>です。（3/11 更新 ）</li>
	      <li>Ni邸の<A href="ref2_4.html">上塗りが完了して完成</A>です。（2/4 更新 ）</li>
	      <li>Ni邸の<A href="ref01_27.html">中塗りの仕上がり</A>です。（1/27 更新 ）</li>
	      <li>Ni邸の<A href="ref01_21.html">外塀防水塗装工事</A>が始まりました。（1/22 更新 ）</li>
	      <li>N邸の<A href="ref12_22.html">室内木部塗装</A>が完了しました。（12/22 更新 ）</li>
	      <li>N邸の<A href="ref12_21.html">板塀</A>が完了しました。（12/21 更新 ）</li>
	      <li>H邸の<A href="ref12_07h.html">足場を外し</A>防水塗装工事が完了しました。（12/7 更新 ）</li>
	      <li>H邸の<A href="ref12_02h.html">外壁養生・下・中塗り</A>がほぼ完了しました。（12/2 更新 ）</li>
	      <li>Y邸の<A href="ref11_28.html">玄関窯業サイディング張りと屋根の中・上塗り</A>が完了しました。（12/2 更新 ）</li>
	      <li>Y邸の<A href="ref11_22.html">金属サイディング張りと雪止めの設置</A>がほぼ完了しました。（11/22 更新 ）</li>
	      <li>H邸の<A href="ref11_18h.html">外壁防水塗装工事</A>が始まりました。（11/19 更新 ）</li>
	      <li>Y邸の<A href="ref11_10.html">金属サイディング取付けが始まりました。</A>が完了しました。（11/15 更新 ）</li>
	      <li>N邸の<A href="ref11_15.html">板塀改修工事</A>取付け完了しました。（11/15更新 ）</li>
              <li>N邸の<A href="ref11_11.html">板塀改修工事</A>が始まりました。（11/11更新 ）</li>
	      <li>Y邸の<A href="ref11_10.html">外壁に防水シートと貼りと下地工事</A>が完了しました。（11/10 更新 ）</li>
              <li>Y邸の<A href="ref10_27.html">構造材 西面補強工事</A>(断熱材・構造用合板貼り)（10/27 更新 ）</li>
              <li>Y邸の<A href="ref10_12.html">構造材 東南面補強工事</A>(断熱材・構造用合板貼り)（10/15 更新） </li>
	      <li>Y邸の<A href="ref10_9.html">構造材 東北面補強工事</A>(胴差し入替)（10/8 更新） </li> 
	      <li>YD邸の<A href="ref9_30.html">外壁防水塗装工事も</A>開始。（10/5 更新）</li>
	      <li>Y邸の<A href="ref9_11.html">外壁防水塗装・構造材補強工事</A>(通し柱入替)（10/3 更新）</li>       
              <li>M邸の<A href="mokubut8_20.html">完成写真</A>をアップしました。（8/23 更新）</li>

              <li>M邸の<A href="mokubut7_11.html">駐車場の塗装が完成。</A>新築の艶と輝きが蘇りました。（7/11 更新 ）</li>

	      <li>M邸の<A href="mokubut6_26.html">軒天の張替えと駐車場の塗装が完成。</A>新築の艶と輝きが蘇りました。（7/11 更新 ） </li>

	      <li>M邸の<A href="mokubut6_16.html">外壁・屋根防水</A>が仕上げの段階になりました。（6/16 更新 ） </li>

	      <li>M邸の<A href="mokubut528.html">外壁・屋根防水他・リフォーム工事</A>が始まりました。（6/7 更新 ）
              </li>
              <LI>MM邸の<A href="mokubut424.html">外壁・屋根防水塗装工事</A>が完工しました。（5/15 更新 ）
              
              <LI>MM邸の<A href="mokubut424.html">外壁・屋根防水塗装工事</A>が始まりました。（4/24 更新） 
              
              <LI>H邸の<A href="seko4_3.html">ビフォーアフター</A>をアップ（4/3 更新）
	    
              
              
              <LI>H邸の<A href="mokubut328.html">完工写真</A>をアップ（3/28 更新）
            
              
              
              <LI>スマホの<A href="sp/contact.html" target="_blank">お問い合わせフォーム</A>が使えます。お気軽にご連絡ください。
            
              
              
              <LI>スマホ対応のサイトへ<A href="sp1/index.html">スマホ対応</A><FONT color="#000000">（3/20 更新）</FONT>
	    
              
              
              <LI>H邸木部玄関手摺・<FONT color="#000000">外壁防水塗装完工まじか </FONT><A href="mokubut320.html" target="_blank"><FONT color="#ff0000">施工状況</FONT></A>をアップ<FONT color="#000000">（3/20 更新）</FONT>
	
              
              
              
              <LI>H邸木部玄関手摺・<FONT color="#000000">外壁防水塗装の第二弾を </FONT><A href="mokubut226.html" target="_blank"><FONT color="#ff0000">2/25から施工開始</FONT></A><FONT color="#000000">（3/20 更新）</FONT>
	
              
              
              
              <LI>N邸、<FONT color="#000000">外壁防水塗装の工程を </FONT><A href="mokubut5.html" target="_blank"><FONT color="#ff0000">アップ</FONT></A><FONT color="#000000">しました。11/19 完成しました。（11/19 更新）</FONT>
	
              
              
              
              <LI>K邸、<FONT color="#000000">木部外壁塗装の工程を </FONT><A href="mokubut3.html" target="_blank"><FONT color="#ff0000">リアルタイム</FONT></A><FONT color="#000099"> </FONT><FONT color="#000000">で更新 10/24 完成しました。（10/24 更新）</FONT>
	
              
              
              
              <LI> 木部外壁塗装の手順を<A href="mokubut2.html"><FONT color="#ff0000">アップ</FONT></A>しています。 
              
              
              
              <LI>「ホームメイド」は、お客様のご要望をオリジナルプランに変えて。嬉しい、楽しい、ありがたいリフォームを実現して行く会社です。伝統的な技術をもとに、自由な発想で新しいリフォームに挑戦します。
              
              <LI>畳・ふすまのリニューアルから玄関ドアの入れ替え、ユニットバスやシステムキッチンなどの水回りの改修工事。外壁・外構、木部の塗装から補修まであらゆる角度から、「やって良かった嬉しいリフォーム」の心をお客様にご提案します。
              
              
              
              
              
              
              <LI>そんな家づくりの<a href="http://www.homemade-reform.com">ホームパートナー・ホームメイド（スマホ版）</a>を今後ともよろしくお願い致します。 
            </UL>
            <HR>
          </DIV>
          <DIV id="toppage-news">
            <H3><SPAN class="en">NEWS</SPAN><SPAN class="ja">新着情報</SPAN></H3>
            <DL>
	      <DT>2017年12月18日 <DD>ホームメイドを法人化。<B> 株式会社 ホームメイド </B>になりました。 <DT>2017年 8月20日 <DD>M邸の外塀防水塗装工事は<A href="mokubut8_20.html">完工</A>しました。

	      <DT>2017年 4月3日 <DD>H邸の外塀防水塗装は<A href="seko4_3.html">完工</A>しました。

	      <DT>2017年 3月28日 <DD>H邸の木製玄関手摺は<A href="mokubut328.html">完工</A>しました。

	      <DT>2016年11月18日 
              <DD>N邸の外塀防水塗装は<A href="mokubut5.html">完工</A>しました。

              <DT>2016年10月24日 
              <DD>K邸の木部塗装は<A href="mokubut3.html">完工</A>しました。
 
              <DT>2016年10月7日   
              <DD>K邸の<A href="mokubut.html">木部塗装</A>が始まりました。

              <DT>2016年10月1日   
              <DD>ホームメイドの<A href="sekoo3.html">ビフォー⇒アフター</A>をアップしました。
            
              <DT>2016年9月28日   
              <DD>ホームメイドの<A href="sekoo1.html">施工事例詳細</A>をアップしました。
  
              <DT>2016年9月1日 
              <DD>ホームメイドの<A href="index.html">新しいホームページ</A>を開設しました。 
              
              <DT>2016年8月31日 
              <DD>岐阜の城下町に「リフォーム相談の窓口」をオープンしました。 

              <DT>2016年8月20日   
              <DD>城下町、木の家の補修塗装の相談コーナーを設置しました。 
     

            </DL>
          </DIV>
          ◆ 施工事例の紹介<BR>
          <DIV class="hpb-photomotion" style="width : 424px;">
            <DIV id="hpb-carousel1" data-base-height="125">
              <UL id="hpb-carousel-list1">
                <LI><A><IMG src="ab1.jpg" alt=""></A>
                <LI><A><IMG src="ab5.jpg" alt=""></A>
                <LI><A><IMG src="d4.jpg" alt=""></A>
                <LI><A><IMG src="service-s01.jpg" alt=""></A>
                <LI><A><IMG src="d8.jpg" alt=""></A>
                <LI><A><IMG src="d10.jpg" alt=""></A>
                <LI><A><IMG src="d12.jpg" alt=""></A>
                <LI><A><IMG src="y12.jpg" alt=""></A>
                <LI><A><IMG src="y15.jpg" alt=""></A>
                <LI><A><IMG src="y21.jpg" alt=""></A>
                <LI><A><IMG src="y22.jpg" alt=""></A>
              </UL>
            </DIV>
          </DIV>
          <BR>
          <DIV id="pagetop"><a href="#hpb-container">このページの先頭へ</a></DIV>
        </DIV>
        <!-- toppage end -->
      </DIV>
      <!-- main end -->
    </DIV>
    <!-- wrapper end --><!-- navi -->
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A>
      </UL>
    </DIV>
    <!-- navi end --><!-- aside -->
    <DIV id="hpb-aside">
      <H3 class="hpb-c-index">バナースペース</H3>
      <DIV id="banner">
        <UL>
          <LI><A href="service.html" id="banner-service">施工事例</A> 
          <LI><A href="mokubut2.html" id="banner-recruit">木部外壁塗装の手順</A> 
          <LI><A href="sekoo3.html" id="banner-beaf">ビフォーアフター</A> 
          <LI><A href="access.html" id="banner-access">アクセス</A> 
          <LI><a href="http://ameblo.jp/home-paint/" id="banner-paint" style="background-image : url(top_banner_1Ad_04.png);">ブログ</a> 
        </UL>
      </DIV>
      <DIV id="companyinfo">
        <H3>ホームメイドで嬉しいリフォーム！</H3>
        <P>〒500-8029<BR>
        岐阜市東材木町37-2<BR>
        代表者 臼井常雄<BR>
        </P>
        <P>TEL 058-262-5694<BR>
        FAX 058-262-5689<BR>
        携帯 090-8451-0238</P>
      </DIV>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
<!-- container end -->
<P><A href="sp1/index.html">スマートフォン版</A></P>
</BODY>
</HTML>

src/hm/index.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 株式会社 ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・桁等の構造材の腐りや腐食の補修、取り替えならホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでアップ！検査・見積もり無料。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="かえる外壁、塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    link#hpb-carousel[rel="stylesheet" href="hpb-carousel1.css" type="text/css"]
    script[type="text/javascript" src="jquery.min.js"]

    script[type="text/javascript" src="jquery.bxslider.js"]
      | hpb-carousel-bxslider-js
    script

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-01
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | 株式会社 ホームメイドは 木部防水塗装・木部補修工事・一般外壁防水塗装・水回り・内装クロス・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title.hpb-top-image
            h2
              | リフォームの楽しさと喜びをかたちにする。住む人の愛が溢れる、生命（いのち）が活きる、歓びの住まいづくりに貢献する。
              a[href="http://www.homemade-reform.com"]
                | homemade-refom.com
          #hpb-main
            #toppage
              p
                | ※ ホームメイドは、建築リフォームを専門とする会社です。伝統的木造住宅の木部外壁の塗装、漆喰の塗替え、瓦の取替え、床の張替えから水回りまで、外構、どんなご要望にもお応えする
                a[href="sp4/index.html"]
                  | リフォームのスペシャリスト
                | です。(Iphone用ページは
                a[href="http://www.kaeru.gr.jp/hm/sp1"]
                  | こちら
                | )
              #toppage-topics
                h3
                  | TOPICS 2019 
                |  　 
                font[color="#990000"]
                  b
                    | ※ ビフォーアフターでこんなに変わる！
                  | （写真クリックでビフォーへ）
                b
                  font[color="#ff0000"]
                    | 令和元年10月31日更新
                    br
                table[cellpadding="0" style="margin-top : 0px;margin-right : 0px;margin-bottom : 0px;border-width : 0px;border-style : none;border-color : white;"]
                  tbody
                    tr
                      td[valign="middle" align="center" colspan="4" style="text-align : center;border-top-width : 1px;border-right-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        | 完成写真をクリックしていただくとその施工状況を閲覧できます。。
                        br
                        |  ご要望に合わせた施工のビフォーアフターをご確認下さい。
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;" bgcolor="#cccccc" colspan="4"]
                        |  
                        font[color="#000099"]
                          | リフォームを項目ごとに掲載しました。
                          a[href="2index.html"]
                            font[color="#990000"]
                              | こちら
                          | をクリック
                    tr
                      td[valign="middle" style="border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="23"]
                        a[href="1_10_24.html"]
                          img[src="01_10_24/mtk0.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;" height="23"]
                        a[href="1_10_25.html"]
                          img[src="01_10_25/ky01.jpg" width="121" height="86" border="0"]
                      td[style="text-align : center;" align="center" valign="middle" height="23"]
                        a[href="1_10_31.html"]
                          img[src="1_10_31/kw0.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="23"]
                        font[color="#0000ff"]
                          | ←屋根防水塗装
                          br
                          |  下塗り完了
                    tr
                      td[valign="middle" style="border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="101"]
                        a[href="01_7_22.html"]
                          img[src="r1_7_22/k1000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;" height="101"]
                        |  
                        a[href="01_8_13.html"]
                          img[src="8_13/t0001.jpg" width="121" height="86" border="0"]
                      td[style="text-align : center;" align="center" valign="middle" height="101"]
                        a[href="01_10_10.html"]
                          img[src="10_10/11s1.jpg" width="121" height="86" border="0"]
                        |  
                      td[valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center" height="101"]
                        a[href="1_10_18.html"]
                          img[src="01_10_18/m00.jpg" width="121" height="86" border="0"]
                        |  
                    tr
                      td[valign="middle" style="border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
" align="center"]
                        a[href="01_6_26.html"]
                          img[src="01_6_26/s0000.jpg" width="121" height="86" border="0"]
                      td[valign="bottom" align="center" style="text-align : center;"]
                        a[href="01_6_23.html"]
                          img[src="01_6_23/f111.jpg" width="121" height="86" border="0"]
                        |  
                      td[style="text-align : center;" align="center" valign="middle"]
                        |  
                        a[href="01_5_4.html"]
                          img[src="5_30/ht00.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
"]
                        |  
                        a[href="2019_3_5.html"]
                          img[src="6_24_h/hk0.jpg" width="121" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="01_5_6.html"]
                          img[src="6_28/f0000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;" bgcolor="#ffffff"]
                        a[href="2019_2_16.html"]
                          img[src="2_15d/d1.jpg" width="121" height="86" border="0"]
                      td[style="text-align : center;" align="center" valign="middle"]
                        a[href="2019_2_24.html"]
                          img[src="u_225/si0.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
"]
                        a[href="2019_3_14.html"]
                          img[src="u3_14/n000.jpg" width="121" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="11_9_1.html"]
                          img[src="12_25/k_000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="stn1.html"]
                          img[src="sten1/st0.jpg" width="90" height="86" border="0"]
                      td[style="text-align : center;" align="center" valign="middle"]
                        |  
                        a[href="2019_1_1.html"]
                          img[src="2019_1_1/y100.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
"]
                        a[href="2019_2_16_2.html"]
                          img[src="2_15d/n0.jpg" width="121" height="86" border="0"]
                        |  
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refys10_20.html"]
                          img[src="w/kn00.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="11_7_1.html"]
                          img[src="11_7/k000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="11_6.html"]
                          img[src="11_5/h00.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="2019_1_25.html"]
                          img[src="1_25/2013.jpg" width="121" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refkwi8_26.html"]
                          img[src="w/i000i.jpg" width="120" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="refwaka9_23.html"]
                          img[src="w/y5y.jpg" width="120" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="refwaka9_27.html"]
                          img[src="w/ume00.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refwaka9_29.html"]
                          img[src="w/sz10.jpg" width="120" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref6_24.html"]
                          img[src="imgs/kat1.jpg" width="120" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="refys7_4.html"]
                          img[src="imgs/yyk01.jpg" width="120" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="refysw7_15.html"]
                          img[src="w/y1y1.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refski7_22.html"]
                          img[src="imu/ski00.jpg" width="120" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refh_3_31.html"]
                          img[src="y/hss1.jpg" width="120" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="ref5_15.html"]
                          img[src="y/ot1.jpg" width="120" height="86" border="0"]
                        |  
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref5_22.html"]
                          img[src="y/ak0011.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref5_23.html"]
                          img[src="ap/yak01.jpg" width="120" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" width="30" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref9_11.html"]
                          img[src="y/ya0111.jpg" width="120" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref9_30.html"]
                          img[src="y/2a12.jpg" width="120" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="mokubut424.html"]
                          img[src="y/2a11.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="mokubut528.html"]
                          img[src="y/2a16.jpg" width="120" height="83" border="0"]
                    tr
                      td[valign="middle" style="text-align : center;" align="center"]
                        a[href="mokubut5.html"]
                          img[src="y/2a17.jpg" width="120" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref12_02h.html"]
                          img[src="y/2a22.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref01_21.html"]
                          img[src="y/2qa21.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="sekoo2.html"]
                          img[src="imgs/ys000.jpg" width="120" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="mokubut3.html"]
                          img[src="y/2a14.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="mokubut226.html"]
                          img[src="y/2a15.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref11_11.html"]
                          img[src="y/2a18.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref12_22.html"]
                          img[src="y/2a19.jpg" width="120" height="83" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref4_3.html"]
                          img[src="y/tl005.jpg" width="124" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref4_3.html#%23111"]
                          img[src="y/rk004.jpg" width="124" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref4_3_kt.html"]
                          img[src="y/kt016.jpg" width="124" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref4_3_kp.html"]
                          img[src="y/kp01.jpg" width="126" height="83" border="0"]
                |  　　 　　　 　　　 　　　 　　　 　　　 　　　 　　　 
                ul
                  li
                    font[color="#ff0000"]
                      b
                        | ↑
                      | 完成写真をクリックで、施工工程を見られるように致しました。
                    |  　　　
                  li
                    | Ot邸の
                    a[href="ref5_15.html"]
                      | 駐車場の外壁板金工事
                    | 完成までをアップしました。(5/15更新) 
                  li
                    | Ha邸の
                    a[href="ref5_9.html"]
                      | 完成しました。
                    | が完了しました。(5/15更新) 
                  li
                    | Ha邸の
                    a[href="ref5_4.html"]
                      | 屋根上塗り・外壁中塗り
                    | が完了しました。(5/6更新) 
                  li
                    | Ha邸の
                    a[href="ref4_9.html"]
                      | 養生
                    | に入りました。(4/8更新) 
                  li
                    | Ha邸の
                    a[href="ref4_8_.html"]
                      | 高圧洗浄
                    | に入りました。(4/7更新) 
                  li
                    | Ha邸の
                    a[href="refh_3_31.html"]
                      | 足場組み
                    | が始まりました。(4/1更新) 
                  li
                    | Y邸の
                    a[href="ref3_5.html"]
                      | 足場を外して全景が姿を現しました。
                    | です。（3/11 更新 ）
                  li
                    | Ni邸の
                    a[href="ref2_4.html"]
                      | 上塗りが完了して完成
                    | です。（2/4 更新 ）
                  li
                    | Ni邸の
                    a[href="ref01_27.html"]
                      | 中塗りの仕上がり
                    | です。（1/27 更新 ）
                  li
                    | Ni邸の
                    a[href="ref01_21.html"]
                      | 外塀防水塗装工事
                    | が始まりました。（1/22 更新 ）
                  li
                    | N邸の
                    a[href="ref12_22.html"]
                      | 室内木部塗装
                    | が完了しました。（12/22 更新 ）
                  li
                    | N邸の
                    a[href="ref12_21.html"]
                      | 板塀
                    | が完了しました。（12/21 更新 ）
                  li
                    | H邸の
                    a[href="ref12_07h.html"]
                      | 足場を外し
                    | 防水塗装工事が完了しました。（12/7 更新 ）
                  li
                    | H邸の
                    a[href="ref12_02h.html"]
                      | 外壁養生・下・中塗り
                    | がほぼ完了しました。（12/2 更新 ）
                  li
                    | Y邸の
                    a[href="ref11_28.html"]
                      | 玄関窯業サイディング張りと屋根の中・上塗り
                    | が完了しました。（12/2 更新 ）
                  li
                    | Y邸の
                    a[href="ref11_22.html"]
                      | 金属サイディング張りと雪止めの設置
                    | がほぼ完了しました。（11/22 更新 ）
                  li
                    | H邸の
                    a[href="ref11_18h.html"]
                      | 外壁防水塗装工事
                    | が始まりました。（11/19 更新 ）
                  li
                    | Y邸の
                    a[href="ref11_10.html"]
                      | 金属サイディング取付けが始まりました。
                    | が完了しました。（11/15 更新 ）
                  li
                    | N邸の
                    a[href="ref11_15.html"]
                      | 板塀改修工事
                    | 取付け完了しました。（11/15更新 ）
                  li
                    | N邸の
                    a[href="ref11_11.html"]
                      | 板塀改修工事
                    | が始まりました。（11/11更新 ）
                  li
                    | Y邸の
                    a[href="ref11_10.html"]
                      | 外壁に防水シートと貼りと下地工事
                    | が完了しました。（11/10 更新 ）
                  li
                    | Y邸の
                    a[href="ref10_27.html"]
                      | 構造材 西面補強工事
                    | (断熱材・構造用合板貼り)（10/27 更新 ）
                  li
                    | Y邸の
                    a[href="ref10_12.html"]
                      | 構造材 東南面補強工事
                    | (断熱材・構造用合板貼り)（10/15 更新） 
                  li
                    | Y邸の
                    a[href="ref10_9.html"]
                      | 構造材 東北面補強工事
                    | (胴差し入替)（10/8 更新） 
                  li
                    | YD邸の
                    a[href="ref9_30.html"]
                      | 外壁防水塗装工事も
                    | 開始。（10/5 更新）
                  li
                    | Y邸の
                    a[href="ref9_11.html"]
                      | 外壁防水塗装・構造材補強工事
                    | (通し柱入替)（10/3 更新）
                  li
                    | M邸の
                    a[href="mokubut8_20.html"]
                      | 完成写真
                    | をアップしました。（8/23 更新）
                  li
                    | M邸の
                    a[href="mokubut7_11.html"]
                      | 駐車場の塗装が完成。
                    | 新築の艶と輝きが蘇りました。（7/11 更新 ）
                  li
                    | M邸の
                    a[href="mokubut6_26.html"]
                      | 軒天の張替えと駐車場の塗装が完成。
                    | 新築の艶と輝きが蘇りました。（7/11 更新 ） 
                  li
                    | M邸の
                    a[href="mokubut6_16.html"]
                      | 外壁・屋根防水
                    | が仕上げの段階になりました。（6/16 更新 ） 
                  li
                    | M邸の
                    a[href="mokubut528.html"]
                      | 外壁・屋根防水他・リフォーム工事
                    | が始まりました。（6/7 更新 ） 
                  li
                    | MM邸の
                    a[href="mokubut424.html"]
                      | 外壁・屋根防水塗装工事
                    | が完工しました。（5/15 更新 ） 
                  li
                    | MM邸の
                    a[href="mokubut424.html"]
                      | 外壁・屋根防水塗装工事
                    | が始まりました。（4/24 更新） 
                  li
                    | H邸の
                    a[href="seko4_3.html"]
                      | ビフォーアフター
                    | をアップ（4/3 更新） 
                  li
                    | H邸の
                    a[href="mokubut328.html"]
                      | 完工写真
                    | をアップ（3/28 更新） 
                  li
                    | スマホの
                    a[href="sp/contact.html" target="_blank"]
                      | お問い合わせフォーム
                    | が使えます。お気軽にご連絡ください。 
                  li
                    | スマホ対応のサイトへ
                    a[href="sp1/index.html"]
                      | スマホ対応
                    font[color="#000000"]
                      | （3/20 更新）
                  li
                    | H邸木部玄関手摺・
                    font[color="#000000"]
                      | 外壁防水塗装完工まじか 
                    a[href="mokubut320.html" target="_blank"]
                      font[color="#ff0000"]
                        | 施工状況
                    | をアップ
                    font[color="#000000"]
                      | （3/20 更新）
                  li
                    | H邸木部玄関手摺・
                    font[color="#000000"]
                      | 外壁防水塗装の第二弾を 
                    a[href="mokubut226.html" target="_blank"]
                      font[color="#ff0000"]
                        | 2/25から施工開始
                    font[color="#000000"]
                      | （3/20 更新）
                  li
                    | N邸、
                    font[color="#000000"]
                      | 外壁防水塗装の工程を 
                    a[href="mokubut5.html" target="_blank"]
                      font[color="#ff0000"]
                        | アップ
                    font[color="#000000"]
                      | しました。11/19 完成しました。（11/19 更新）
                  li
                    | K邸、
                    font[color="#000000"]
                      | 木部外壁塗装の工程を 
                    a[href="mokubut3.html" target="_blank"]
                      font[color="#ff0000"]
                        | リアルタイム
                    font[color="#000099"]

                    font[color="#000000"]
                      | で更新 10/24 完成しました。（10/24 更新）
                  li
                    |  木部外壁塗装の手順を
                    a[href="mokubut2.html"]
                      font[color="#ff0000"]
                        | アップ
                    | しています。 
                  li
                    | 「ホームメイド」は、お客様のご要望をオリジナルプランに変えて。嬉しい、楽しい、ありがたいリフォームを実現して行く会社です。伝統的な技術をもとに、自由な発想で新しいリフォームに挑戦します。 
                  li
                    | 畳・ふすまのリニューアルから玄関ドアの入れ替え、ユニットバスやシステムキッチンなどの水回りの改修工事。外壁・外構、木部の塗装から補修まであらゆる角度から、「やって良かった嬉しいリフォーム」の心をお客様にご提案します。 
                  li
                    | そんな家づくりの
                    a[href="http://www.homemade-reform.com"]
                      | ホームパートナー・ホームメイド（スマホ版）
                    | を今後ともよろしくお願い致します。 
                hr
              #toppage-news
                h3
                  span.en
                    | NEWS
                  span.ja
                    | 新着情報
                dl
                  dt
                    | 2017年12月18日 
                  dd
                    | ホームメイドを法人化。
                    b
                      |  株式会社 ホームメイド 
                    | になりました。 
                  dt
                    | 2017年 8月20日 
                  dd
                    | M邸の外塀防水塗装工事は
                    a[href="mokubut8_20.html"]
                      | 完工
                    | しました。 
                  dt
                    | 2017年 4月3日 
                  dd
                    | H邸の外塀防水塗装は
                    a[href="seko4_3.html"]
                      | 完工
                    | しました。 
                  dt
                    | 2017年 3月28日 
                  dd
                    | H邸の木製玄関手摺は
                    a[href="mokubut328.html"]
                      | 完工
                    | しました。 
                  dt
                    | 2016年11月18日 
                  dd
                    | N邸の外塀防水塗装は
                    a[href="mokubut5.html"]
                      | 完工
                    | しました。 
                  dt
                    | 2016年10月24日 
                  dd
                    | K邸の木部塗装は
                    a[href="mokubut3.html"]
                      | 完工
                    | しました。 
                  dt
                    | 2016年10月7日 
                  dd
                    | K邸の
                    a[href="mokubut.html"]
                      | 木部塗装
                    | が始まりました。 
                  dt
                    | 2016年10月1日 
                  dd
                    | ホームメイドの
                    a[href="sekoo3.html"]
                      | ビフォー⇒アフター
                    | をアップしました。 
                  dt
                    | 2016年9月28日 
                  dd
                    | ホームメイドの
                    a[href="sekoo1.html"]
                      | 施工事例詳細
                    | をアップしました。 
                  dt
                    | 2016年9月1日 
                  dd
                    | ホームメイドの
                    a[href="index.html"]
                      | 新しいホームページ
                    | を開設しました。 
                  dt
                    | 2016年8月31日 
                  dd
                    | 岐阜の城下町に「リフォーム相談の窓口」をオープンしました。 
                  dt
                    | 2016年8月20日 
                  dd
                    | 城下町、木の家の補修塗装の相談コーナーを設置しました。 
              |  ◆ 施工事例の紹介
              br
              .hpb-photomotion[style="width : 424px;"]
                #hpb-carousel1[data-base-height="125"]
                  ul#hpb-carousel-list1
                    li
                      a
                        img[src="ab1.jpg" alt=""]
                    li
                      a
                        img[src="ab5.jpg" alt=""]
                    li
                      a
                        img[src="d4.jpg" alt=""]
                    li
                      a
                        img[src="service-s01.jpg" alt=""]
                    li
                      a
                        img[src="d8.jpg" alt=""]
                    li
                      a
                        img[src="d10.jpg" alt=""]
                    li
                      a
                        img[src="d12.jpg" alt=""]
                    li
                      a
                        img[src="y12.jpg" alt=""]
                    li
                      a
                        img[src="y15.jpg" alt=""]
                    li
                      a
                        img[src="y21.jpg" alt=""]
                    li
                      a
                        img[src="y22.jpg" alt=""]
              br
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
    p
      a[href="sp1/index.html"]
        | スマートフォン版
