src/hm/sp/mokubut.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>木部塗装の工程&nbsp;-&nbsp;ホームメイド</TITLE>
<SCRIPT type="text/javascript" language="JavaScript">
<!--HPB_SCRIPT_ROV_50
//
//  (C) 2013 株式会社ジャストシステム
//

// HpbImgPreload:
//
function HpbImgPreload()
{
  var appVer=parseInt(navigator.appVersion);
  var isNC=false,isN6=false,isIE=false;
  if (document.all && appVer >= 4) isIE=true; else
    if (document.getElementById && appVer > 4) isN6=true; else
      if (document.layers && appVer >= 4) isNC=true;
  if (isNC||isN6||isIE)
  {
    if (document.images)
    {
      var imgName = HpbImgPreload.arguments[0];
      var cnt;
      swImg[imgName] = new Array;
      for (cnt = 1; cnt < HpbImgPreload.arguments.length; cnt++)
      {
        swImg[imgName][HpbImgPreload.arguments[cnt]] = new Image();
        swImg[imgName][HpbImgPreload.arguments[cnt]].src = HpbImgPreload.arguments[cnt];
      }
    }
  }
}
// HpbImgFind:
//
function HpbImgFind(doc, imgName)
{
  for (var i=0; i < doc.layers.length; i++)
  {
    var img = doc.layers[i].document.images[imgName];
    if (!img) img = HpbImgFind(doc.layers[i], imgName);
    if (img) return img;
  }
  return null;
}
// HpbImgSwap:
//
function HpbImgSwap(imgName, imgSrc)
{
  var appVer=parseInt(navigator.appVersion);
  var isNC=false,isN6=false,isIE=false;
  if (document.all && appVer >= 4) isIE=true; else
    if (document.getElementById && appVer > 4) isN6=true; else
      if (document.layers && appVer >= 4) isNC=true;
  if (isNC||isN6||isIE)
  {
    if (document.images)
    {
      var img = document.images[imgName];
      if (!img) img = HpbImgFind(document, imgName);
      if (img) img.src = imgSrc;
    }
  }
}
var swImg; swImg=new Array;
//-->
</SCRIPT> <SCRIPT type="text/javascript" language="JavaScript">
<!--HPB_SCRIPT_PLD_50
HpbImgPreload('HPB_ROLLOVER2', 'btn13.gif', 'btn2.gif');
//-->
</SCRIPT>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="../sp1/index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">木部外壁塗装の工程</SPAN><SPAN class="en">WOOD PAINT</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- recruit -->
      <DIV id="recruit">
        <P class="large">木部の外壁塗装の施工が始まりました。　<A href="mokubut3.html" target="_self"> 次の工程 ⇒</A></P>
        <DL>
          <DT>塗装前（Before）↓ 10/6
          <DD>現調（現状把握)　<A href="kha00.jpg" target="_blank">1</A> <A href="kha011.jpg" target="_blank">2</A> <A href="khb10.jpg" target="_blank">3</A> <A href="khd1.jpg" target="_blank">4</A> <A href="kha6.jpg" target="_blank">5</A> <A href="kha1.jpg" target="_blank">6</A> <A href="kha8.jpg" target="_blank">7</A> <A href="kha9.jpg" target="_blank">8</A> <A href="khb11b.jpg" target="_blank">9</A><IMG src="kh1.jpg" width="300" height="187" border="0"> 
          <DT>足場組み ↓ 10/7
          <DD>足場の後はシートを張ります　<A href="khb11.jpg" target="_blank">1</A> <A href="khb12.jpg" target="_blank">2</A> <A href="khb13.jpg" target="_blank">3</A><IMG src="kh2.jpg" width="300" height="187" border="0"> 
          <DT>高圧洗浄 （水洗い）↓10/8 
          <DD>洗浄後の木肌　<A href="khc11.jpg" target="_blank">1</A> <A href="khc12.jpg" target="_blank">2</A> <A href="khc013.jpg" target="_blank">3</A> <A href="khc14.jpg" target="_blank">4</A> <A href="ikhc015.jpg" target="_blank">5</A><IMG src="kh3.jpg" width="300" height="187" border="0"> 
          <DT>木部表面の乾燥　↓10/10
          <DD>乾燥後の木部外壁です。<A href="khd15.jpg" target="_blank">1</A> <A href="khd13.jpg" target="_blank">2</A> <A href="khd14.jpg" target="_blank">3</A> <A href="hkd16.jpg" target="_blank">4</A> <A href="khd17.jpg" target="_blank">5</A><IMG src="khd12.jpg" width="300" height="187" border="0"> 
          <DT>ペーパー掛け　↓10/11・12 
          <DD>柱、外壁等はペーパーを掛け塗装がのり易いようにします。<A href="khe8.jpg" target="_blank">1</A> <A href="khe2.jpg" target="_blank">2</A> <A href="khe3.jpg" target="_blank">3</A> <A href="khe4.jpg" target="_blank">4</A> <A href="khe9.jpg" target="_blank">5</A><IMG src="khe1.jpg" width="300" height="187" border="0"> 　　 
          <DT>サンダー掛け、養生　↓10/14 
          <DD>さらに木部の汚れを詳細に取り除きます。同時に養生を行います。<BR>
          <A href="ay1.jpg" target="_blank">1</A> <A href="ay2.jpg" target="_blank">2</A> <A href="ay3.jpg" target="_blank">3</A> <A href="ay4.jpg" target="_blank">4</A> <A href="ay5.jpg" target="_blank">5</A> <A href="ay6.jpg" target="_blank">6</A> <A href="ay7.jpg" target="_blank">7</A> <A href="ay8.jpg" target="_blank">8</A> <A href="ay9.jpg" target="_blank">9</A> <A href="ay10.jpg" target="_blank">10</A><IMG src="ay0.jpg" width="300" height="187" border="0"> 
          <DT>外壁下塗り　　↓ 10/15<BR>
          <DD>ペーパー、サンダー掛けの後は入念に下塗りと上塗りをします。<BR>
          <A href="ai13.jpg" target="_blank">1</A> <A href="ai12.jpg" target="_blank">2</A> <A href="aii13.jpg" target="_blank">3</A> <A href="ai14.jpg" target="_blank">4</A> <A href="ai15.jpg" target="_blank">5</A> <A href="ai16.jpg" target="_blank">6</A><IMG src="ai11.jpg" width="300" height="199" border="0"> 
        </DL>
        <A href="mokubut3.html" target="_self" id="HPB_ROLLOVER2" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn13.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"><IMG src="btn1.gif" width="300" height="14" border="0" name="HPB_ROLLOVER2"></A>
        <DL>
          <DD>〒500-8029<BR>
          岐阜市東材木町37-2<BR>
          携帯. 090-8451-0238<BR>
          TEL. 058-262-5696　FAX. 058-262-5689<BR>
          E-mail. <A href="mailto:info@builder**.jp">usui_@kaeru.gr.jp</A><BR>
          担当者 臼井 まで　お気軽にご連絡ください。 
        </DL>
        <DIV id="pagetop"><A href="#hpb-container">このページの先頭へ</A></DIV>
      </DIV>
      <!-- recruit end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <div id="hpb-aside">
      <h3 class="hpb-c-index">バナースペース</h3>
      <div id="banner">
        <ul>
          <li><a href="../sp2/service.html" id="banner-service">施工事例</a> 
          <li><a href="../sp2/mokubut2.html" id="banner-recruit">木部外壁塗装の手順</a> 
          <li><a href="../sp2/sekoo3.html" id="banner-beaf">ビフォーアフター</a> 
          <li><a href="../sp2/access.html" id="banner-access">アクセス</a> 
          <li><a href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</a> 
        </ul>
      </div>
      <div id="companyinfo">
        <h3>ホームメイドで嬉しいリフォーム！</h3>
        <p>〒500-8029<br>
        岐阜市東材木町37-2<br>
        代表者 臼井常雄<br>
        </p>
        <p>TEL 058-262-5694<br>
        FAX 058-262-5689<br>
        携帯 090-8451-0238</p>
      </div>
    </div>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>

src/hm/mokubut.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 木部塗装の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 木部外壁塗装の工程
              span.en
                | WOOD PAINT
          #hpb-main
            #recruit
              p.large
                | 木部の外壁塗装の施工が始まりました。　
                a[href="mokubut3.html" target="_self"]
                  |  次の工程 ⇒
              dl
                dt
                  | 塗装前（Before）↓ 10/6
                dd
                  | 現調（現状把握)　
                  a[href="kha00.jpg" target="_blank"]
                    | 1
                  a[href="kha011.jpg" target="_blank"]
                    | 2
                  a[href="khb10.jpg" target="_blank"]
                    | 3
                  a[href="khd1.jpg" target="_blank"]
                    | 4
                  a[href="kha6.jpg" target="_blank"]
                    | 5
                  a[href="kha1.jpg" target="_blank"]
                    | 6
                  a[href="kha8.jpg" target="_blank"]
                    | 7
                  a[href="kha9.jpg" target="_blank"]
                    | 8
                  a[href="khb11b.jpg" target="_blank"]
                    | 9
                  img[src="kh1.jpg" width="400" height="250" border="0"]
                dt
                  | 足場組み ↓ 10/7
                dd
                  | 足場の後はシートを張ります　
                  a[href="khb11.jpg" target="_blank"]
                    | 1
                  a[href="khb12.jpg" target="_blank"]
                    | 2
                  a[href="khb13.jpg" target="_blank"]
                    | 3
                  img[src="kh2.jpg" width="400" height="250" border="0"]
                dt
                  | 高圧洗浄 （水洗い）↓10/8 
                dd
                  | 洗浄後の木肌　
                  a[href="khc11.jpg" target="_blank"]
                    | 1
                  a[href="khc12.jpg" target="_blank"]
                    | 2
                  a[href="khc013.jpg" target="_blank"]
                    | 3
                  a[href="khc14.jpg" target="_blank"]
                    | 4
                  a[href="ikhc015.jpg" target="_blank"]
                    | 5
                  img[src="kh3.jpg" width="400" height="250" border="0"]
                dt
                  | 木部表面の乾燥　↓10/10
                dd
                  | 乾燥後の木部外壁です。
                  a[href="khd15.jpg" target="_blank"]
                    | 1
                  a[href="khd13.jpg" target="_blank"]
                    | 2
                  a[href="khd14.jpg" target="_blank"]
                    | 3
                  a[href="hkd16.jpg" target="_blank"]
                    | 4
                  a[href="khd17.jpg" target="_blank"]
                    | 5
                  img[src="khd12.jpg" width="400" height="250" border="0"]
                dt
                  | ペーパー掛け　↓10/11・12 
                dd
                  | 柱、外壁等はペーパーを掛け塗装がのり易いようにします。
                  a[href="khe8.jpg" target="_blank"]
                    | 1
                  a[href="khe2.jpg" target="_blank"]
                    | 2
                  a[href="khe3.jpg" target="_blank"]
                    | 3
                  a[href="khe4.jpg" target="_blank"]
                    | 4
                  a[href="khe9.jpg" target="_blank"]
                    | 5
                  img[src="khe1.jpg" width="400" height="250" border="0"]
                  |  　　 
                dt
                  | サンダー掛け、養生　↓10/14 
                dd
                  | さらに木部の汚れを詳細に取り除きます。同時に養生を行います。
                  br
                  a[href="ay1.jpg" target="_blank"]
                    | 1
                  a[href="ay2.jpg" target="_blank"]
                    | 2
                  a[href="ay3.jpg" target="_blank"]
                    | 3
                  a[href="ay4.jpg" target="_blank"]
                    | 4
                  a[href="ay5.jpg" target="_blank"]
                    | 5
                  a[href="ay6.jpg" target="_blank"]
                    | 6
                  a[href="ay7.jpg" target="_blank"]
                    | 7
                  a[href="ay8.jpg" target="_blank"]
                    | 8
                  a[href="ay9.jpg" target="_blank"]
                    | 9
                  a[href="ay10.jpg" target="_blank"]
                    | 10
                  img[src="ay0.jpg" width="400" height="250" border="0"]
                dt
                  | 外壁下塗り　　↓ 10/15
                  br
                dd
                  | ペーパー、サンダー掛けの後は入念に下塗りと上塗りをします。
                  br
                  a[href="ai13.jpg" target="_blank"]
                    | 1
                  a[href="ai12.jpg" target="_blank"]
                    | 2
                  a[href="aii13.jpg" target="_blank"]
                    | 3
                  a[href="ai14.jpg" target="_blank"]
                    | 4
                  a[href="ai15.jpg" target="_blank"]
                    | 5
                  a[href="ai16.jpg" target="_blank"]
                    | 6
                  img[src="ai11.jpg" width="400" height="266" border="0"]
              a#HPB_ROLLOVER2[href="mokubut3.html" target="_self" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn1.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"]
                img[src="btn1.gif" width="641" height="35" border="0" name="HPB_ROLLOVER2"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
