src/hm/mokubut3.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 木部塗装の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 木部外壁塗装の工程
              span.en
                | WOOD PAINT
          #hpb-main
            #recruit
              p.large
                | 木部の外壁塗装の施工が始まりました。　
                a[href="mokubut.html" target="_self"]
                  | 前の工程 ⇒ 
              dl
                dt
                  | 上塗り（付帯塗装）↓ 10/16
                dd
                  | 上塗りを重ねて光沢が出てると、新築の風貌が蘇ります。
                  br
                  | 　
                  a[href="ah14.jpg" target="_blank"]
                    | 1
                  a[href="ah11.jpg" target="_blank"]
                    | 2
                  a[href="ah13.jpg" target="_blank"]
                    | 3
                  a[href="ah15.jpg" target="_blank"]
                    | 4
                  a[href="ah16.jpg" target="_blank"]
                    | 5
                  a[href="ah17.jpg" target="_blank"]
                    | 6
                  a[href="ah18.jpg" target="_blank"]
                    | 7
                  a[href="ah20.jpg" target="_blank"]
                    | 8
                  a[href="ah33.jpg" target="_blank"]
                    | 9
                  a[href="ah32.jpg" target="_blank"]
                    | 10
                  img[src="ah10.jpg" width="400" height="250" border="0"]
                dt
                  | 上塗り 細部塗装 ↓ 10/18
                dd
                  | 補修塗装で、細部にわたり手塗りで入念に仕上げます。
                  br
                  a[href="af2.jpg" target="_blank"]
                    | 1
                  a[href="af3.jpg" target="_blank"]
                    | 2
                  a[href="af4.jpg" target="_blank"]
                    | 3
                  a[href="af5.jpg" target="_blank"]
                    | 4
                  a[href="af6.jpg" target="_blank"]
                    | 5
                  a[href="af7.jpg" target="_blank"]
                    | 6
                  a[href="af8.jpg" target="_blank"]
                    | 7
                  a[href="af9.jpg" target="_blank"]
                    | 8
                  a[href="af10.jpg" target="_blank"]
                    | 9
                  img[src="af1.jpg" width="400" height="250" border="0"]
                dt
                  | タッチアップ ↓ 10/20
                dd
                  | 完工で足場があるうちに塗装状態をチェックします。
                  br
                  a[href="e1.jpg" target="_blank"]
                    | 1
                  a[href="e2.jpg" target="_blank"]
                    | 2
                  a[href="e3.jpg" target="_blank"]
                    | 3
                  a[href="e4.jpg" target="_blank"]
                    | 4
                  a[href="e5.jpg" target="_blank"]
                    | 5
                  a[href="e6.jpg" target="_blank"]
                    | 6
                  a[href="e7.jpg" target="_blank"]
                    | 7
                  a[href="e8.jpg" target="_blank"]
                    | 8
                  a[href="e9.jpg" target="_blank"]
                    | 9
                  a[href="e10.jpg" target="_blank"]
                    | 10
                  img[src="e0.jpg" width="400" height="250" border="0"]
                dt
                  | 足場外し ↓ 再チェック 10/22
                dd
                  | 足場外を外し、補修塗装で、塗装の状態をチェックします。
                  br
                  a[href="au12.jpg" target="_blank"]
                    | 1
                  a[href="au13.jpg" target="_blank"]
                    | 2
                  a[href="au14.jpg" target="_blank"]
                    | 3
                  a[href="au15.jpg" target="_blank"]
                    | 4
                  a[href="au16.jpg" target="_blank"]
                    | 5
                  a[href="au17.jpg" target="_blank"]
                    | 6
                  img[src="au1.jpg" width="400" height="250" border="0"]
                dt
                  | 完成1 
                dd
                  | 足場を取り外し完成です。
                  a[href="ax1.jpg" target="_blank"]
                    | 1
                  a[href="ax2.jpg" target="_blank"]
                    | 2
                  a[href="ax4.jpg" target="_blank"]
                    | 3
                  a[href="ax4.jpg" target="_blank"]
                    | 4
                  a[href="ax5.jpg" target="_blank"]
                    | 5
                  a[href="ax6.jpg" target="_blank"]
                    | 6
                  a[href="ax7.jpg" target="_blank"]
                    | 7
                  a[href="ssa12.jpg" target="_blank"]
                    | 8
                  img[src="ss00.jpg" width="400" height="268" border="0"]
                  |  　　 
                dt
                  | 完成2 
                dd
                  a[href="sab1.jpg" target="_blank"]
                    img[src="ss102.jpg" width="400" height="268" border="0"]
                dt
                  | 完成3
                  br
                dd
                  a[href="sab33.jpg" target="_blank"]
                    img[src="sas1.jpg" width="400" height="286" border="0"]
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述

src/hm/sp/mokubut3.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>木部塗装の工程&nbsp;-&nbsp;ホームメイド</TITLE>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="../sp1/index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">木部外壁塗装の工程</SPAN><SPAN class="en">WOOD PAINT</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- recruit -->
      <DIV id="recruit">
        <P class="large">木部の外壁塗装の施工が始まりました。　<A href="mokubut.html" target="_self">前の工程 ⇒ </A></P>
        <DL>
          <DT>上塗り（付帯塗装）↓ 10/16
          <DD>上塗りを重ねて光沢が出てると、新築の風貌が蘇ります。<BR>
          　<A href="ah14.jpg" target="_blank">1</A> <A href="ah11.jpg" target="_blank">2</A> <A href="ah13.jpg" target="_blank">3</A> <A href="ah15.jpg" target="_blank">4</A> <A href="ah16.jpg" target="_blank">5</A> <A href="ah17.jpg" target="_blank">6</A> <A href="ah18.jpg" target="_blank">7</A> <A href="ah20.jpg" target="_blank">8</A> <A href="ah33.jpg" target="_blank">9</A> <A href="ah32.jpg" target="_blank">10</A><IMG src="ah10.jpg" width="300" height="199" border="0"> 
          <DT>上塗り 細部塗装 ↓ 10/18
          <DD>補修塗装で、細部にわたり手塗りで入念に仕上げます。<BR>
          <A href="af2.jpg" target="_blank">1</A> <A href="af3.jpg" target="_blank">2</A> <A href="af4.jpg" target="_blank">3</A> <A href="af5.jpg" target="_blank">4</A> <A href="af6.jpg" target="_blank">5</A> <A href="af7.jpg" target="_blank">6</A> <A href="af8.jpg" target="_blank">7</A> <A href="af9.jpg" target="_blank">8</A> <A href="af10.jpg" target="_blank">9</A><IMG src="af1.jpg" width="300" height="187" border="0"> 
          <DT>タッチアップ ↓ 10/20
          <DD>完工で足場があるうちに塗装状態をチェックします。<BR>
          <A href="e1.jpg" target="_blank">1</A> <A href="e2.jpg" target="_blank">2</A> <A href="e3.jpg" target="_blank">3</A> <A href="e4.jpg" target="_blank">4</A> <A href="e5.jpg" target="_blank">5</A> <A href="e6.jpg" target="_blank">6</A> <A href="e7.jpg" target="_blank">7</A> <A href="e8.jpg" target="_blank">8</A> <A href="e9.jpg" target="_blank">9</A> <A href="e10.jpg" target="_blank">10</A><IMG src="e0.jpg" width="300" height="187" border="0"> 
          <DT>足場外し ↓ 再チェック 10/22
          <DD>足場外を外し、補修塗装で、塗装の状態をチェックします。<BR>
          <A href="au12.jpg" target="_blank">1</A> <A href="au13.jpg" target="_blank">2</A> <A href="au14.jpg" target="_blank">3</A> <A href="au15.jpg" target="_blank">4</A> <A href="au16.jpg" target="_blank">5</A> <A href="au17.jpg" target="_blank">6</A><IMG src="au1.jpg" width="300" height="187" border="0"> 
          <DT>完成1 
          <DD>足場を取り外し完成です。<A href="ax1.jpg" target="_blank">1</A> <A href="ax2.jpg" target="_blank">2</A> <A href="ax4.jpg" target="_blank">3</A> <A href="ax4.jpg" target="_blank">4</A> <A href="ax5.jpg" target="_blank">5</A> <A href="ax6.jpg" target="_blank">6</A> <A href="ax7.jpg" target="_blank">7</A> <A href="ssa12.jpg" target="_blank">8</A><IMG src="ss00.jpg" width="300" height="201" border="0"> 　　 
          <DT>完成2 
          <DD><A href="sab1.jpg" target="_blank"><IMG src="ss102.jpg" width="300" height="201" border="0"></A> 
          <DT>完成3<BR>
          <DD><A href="sab33.jpg" target="_blank"><IMG src="sas1.jpg" width="300" height="214" border="0"></A> 
          <DD>〒500-8029<BR>
          岐阜市東材木町37-2<BR>
          携帯. 090-8451-0238<BR>
          TEL. 058-262-5696　FAX. 058-262-5689<BR>
          E-mail. <A href="mailto:info@builder**.jp">usui_@kaeru.gr.jp</A><BR>
          担当者 臼井 まで　お気軽にご連絡ください。 
        </DL>
        <DIV id="pagetop"><A href="#hpb-container">このページの先頭へ</A></DIV>
      </DIV>
      <!-- recruit end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <div id="hpb-aside">
      <h3 class="hpb-c-index">バナースペース</h3>
      <div id="banner">
        <ul>
          <li><a href="../sp2/service.html" id="banner-service">施工事例</a> 
          <li><a href="../sp2/mokubut2.html" id="banner-recruit">木部外壁塗装の手順</a> 
          <li><a href="../sp2/sekoo3.html" id="banner-beaf">ビフォーアフター</a> 
          <li><a href="../sp2/access.html" id="banner-access">アクセス</a> 
          <li><a href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</a> 
        </ul>
      </div>
      <div id="companyinfo">
        <h3>ホームメイドで嬉しいリフォーム！</h3>
        <p>〒500-8029<br>
        岐阜市東材木町37-2<br>
        代表者 臼井常雄<br>
        </p>
        <p>TEL 058-262-5694<br>
        FAX 058-262-5689<br>
        携帯 090-8451-0238</p>
      </div>
    </div>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>
