src/hm/sp/privacy.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>プライバシーポリシー&nbsp;-&nbsp;ホームメイド</TITLE>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="../sp1/index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">プライバシーポリシー</SPAN><SPAN class="en">PRIVACY POLICY</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- privacy -->
      <DIV id="privacy">
        <P class="large">ホームメイド（以下当社）では、個人情報に関する法令およびその他の規範を遵守し、お客様の大切な個人情報の保護に万全を尽くします。</P>
        <DIV class="hpb-section">
          <H3>個人情報の収集について</H3>
          <P>当社では、次のような場合に必要な範囲で個人情報を収集することがあります。</P>
          <UL>
            <LI>当社へのお問い合わせ時 
            <LI>当社へのサービスお申し込み時 
          </UL>
          <HR>
        </DIV>
        <DIV class="hpb-section">
          <H3>個人情報の利用目的について</H3>
          <P>当社は、お客様から収集した個人情報を次の目的で利用いたします。</P>
          <UL>
            <LI>お客様への連絡のため 
            <LI>お客様からのお問い合せに対する回答のため 
            <LI>お客様へのサービス提供のため 
          </UL>
          <HR>
        </DIV>
        <DIV class="hpb-section">
          <H3>個人情報の第三者への提供について</H3>
          <P>当社では、お客様より取得した個人情報を第三者に開示または提供することはありません。<BR>
          ただし、次の場合は除きます。</P>
          <UL>
            <LI>ご本人の同意がある場合 
            <LI>警察からの要請など、官公署からの要請の場合 
            <LI>法律の適用を受ける場合 
          </UL>
          <HR>
        </DIV>
        <DIV class="hpb-section">
          <H3>個人情報の開示、訂正等について</H3>
          <P>当社は、お客様ご本人からの自己情報の開示、訂正、削除等のお求めがあった場合は、確実に応じます。</P>
          <HR>
        </DIV>
        <DIV class="hpb-section">
          <H3>個人情報保護に関するお問い合わせ先</H3>
          <P>TEL. 090-8451-0238　FAX. 058-262-5689<BR>
          e-mail. <A href="mailto:info@builder**.jp">usui_@kaeru.gr/jp</A><BR>
          ホームメイド　　担当　臼井</P>
          <HR>
          <DIV id="pagetop"><A href="#hpb-container">このページの先頭へ</A></DIV>
        </DIV>
      </DIV>
      <!-- privacy end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <div id="hpb-aside">
      <h3 class="hpb-c-index">バナースペース</h3>
      <div id="banner">
        <ul>
          <li><a href="../sp2/service.html" id="banner-service">施工事例</a> 
          <li><a href="../sp2/mokubut2.html" id="banner-recruit">木部外壁塗装の手順</a> 
          <li><a href="../sp2/sekoo3.html" id="banner-beaf">ビフォーアフター</a> 
          <li><a href="../sp2/access.html" id="banner-access">アクセス</a> 
          <li><a href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</a> 
        </ul>
      </div>
      <div id="companyinfo">
        <h3>ホームメイドで嬉しいリフォーム！</h3>
        <p>〒500-8029<br>
        岐阜市東材木町37-2<br>
        代表者 臼井常雄<br>
        </p>
        <p>TEL 058-262-5694<br>
        FAX 058-262-5689<br>
        携帯 090-8451-0238</p>
      </div>
    </div>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>

src/hm/privacy.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | プライバシーポリシー-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | プライバシーポリシー
              span.en
                | PRIVACY POLICY
          #hpb-main
            #privacy
              p.large
                | ホームメイド（以下当社）では、個人情報に関する法令およびその他の規範を遵守し、お客様の大切な個人情報の保護に万全を尽くします。
              h3
                | 個人情報の収集について
              p
                | 当社では、次のような場合に必要な範囲で個人情報を収集することがあります。
              ul
                li
                  | 当社へのお問い合わせ時 
                li
                  | 当社へのサービスお申し込み時 
              hr
              h3
                | 個人情報の利用目的について
              p
                | 当社は、お客様から収集した個人情報を次の目的で利用いたします。
              ul
                li
                  | お客様への連絡のため 
                li
                  | お客様からのお問い合せに対する回答のため 
                li
                  | お客様へのサービス提供のため 
              hr
              h3
                | 個人情報の第三者への提供について
              p
                | 当社では、お客様より取得した個人情報を第三者に開示または提供することはありません。
                br
                |  ただし、次の場合は除きます。
              ul
                li
                  | ご本人の同意がある場合 
                li
                  | 警察からの要請など、官公署からの要請の場合 
                li
                  | 法律の適用を受ける場合 
              hr
              h3
                | 個人情報の開示、訂正等について
              p
                | 当社は、お客様ご本人からの自己情報の開示、訂正、削除等のお求めがあった場合は、確実に応じます。
              hr
              h3
                | 個人情報保護に関するお問い合わせ先
              p
                | TEL. 090-8451-0238　FAX. 058-262-5689
                br
                |  e-mail. 
                a[href="mailto:info@builder**.jp"]
                  | usui_@kaeru.gr/jp
                br
                |  ホームメイド　　担当　臼井
              hr
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
