src/hm/sp/seko4_3.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>施工事例 - ホームメイド</TITLE>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">ビフォー ⇒ アフター</SPAN><SPAN class="en">BEFORE⇒AFTER</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- service -->
      <DIV id="service">
        <DIV class="hpb-section">
          <H3>H邸の木部防水塗装　施工前 ⇒ 施工後</H3>
          <B><FONT size="3">◆ 現調（Before) ⇒ 完成（After）</FONT></B><BR>
          <P><IMG src="11a1.jpg" width="202" height="151" alt="現調写真撮り" class="left"> 
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a2.jpg" alt="玄関手摺" class="left" width="202" height="151"></P>
          <P>○ <FONT color="#ff0000">外木製玄関手摺り </FONT>かなり傷みがひどく、腐食も進んでいましたので、取り替えて、笠木をつけ水切りを良くしました。</P>
          <HR>
          <P><IMG src="11a4.jpg" width="202" height="151" alt="" class="left">
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a5.jpg" alt="南の物置" class="left" width="202" height="151"></P>
          <P>○ <FONT color="#ff0000">外部にある物置 </FONT>汚れをペーパで落としながら念入りに刷毛で仕上げていきます。</P>
          <HR>
          <P><IMG src="11a3.jpg" width="202" height="151" alt="現調写真撮り" class="left">
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a3_.jpg" alt="南面" class="left" width="202" height="151"></P>
          ○ <FONT color="#ff0000">外壁建具の塗装 </FONT>網戸も変えて建具を丁寧に刷毛で仕上げます。色村が内容に何回も重ね塗りを行います。
          <HR>
          <P><IMG src="11a6.jpg" width="202" height="151" alt="" class="left">
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a7.jpg" alt="西の車庫" class="left" width="202" height="151"> <BR>
          ○ <FONT color="#ff0000">木製デッキ</FONT>の場合は3年〜5年を目安に小まめに塗装をして木部が腐食する前に塗らないと、デッキの面影もなく朽ちてしまいます。塗料としてはキシラデコールがよく使われています。</P>
          <HR>
          <P><IMG src="11a12.jpg" width="202" height="151" alt="" class="left">
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a13.jpg" alt="物置の桁・母屋垂木" class="left" width="202" height="151"> </P>
          <P>○ <FONT color="#ff0000">桁、木、母屋</FONT>桁・母屋・垂木などの構造材は刷毛塗り仕上げます。色を合わせるために何回も重ねて塗って行きます。</P>
          <HR>
          <P><IMG src="11a14.jpg" width="202" height="151" alt="" class="left">
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a15.jpg" alt="南面木製建具" class="left" width="202" height="151"></P>
          <P>○ <FONT color="#ff0000">木製の外壁は</FONT>汚れが重なってくると黒くなってしまいます。色抜きをして、再度塗る場合と前の色より濃い色を使って痛みを目立たないように仕上げます。木部専用のキシラデコールが使われます。</P>
          <HR>
          <P><IMG src="11a16.jpg" width="202" height="151" alt="" class="left">
	     <IMG src="8.jpg" width="40" height="28" alt="" class="left">
	     <IMG src="11a17.jpg" alt="北面建具" class="left" width="202" height="151"> </P>
          <P>○ <FONT color="#ff0000">木製の建具</FONT>　北面の建具もシッカリ塗装、細かな塗りは刷毛を使って手塗りで何回も塗り重ねていきます。</P>
        </DIV>
        　
        <DIV class="hpb-section">
          <H3><B>H邸木部外壁防水塗装工事詳細は<A href="mokubut226.html">こちら</A></B></H3>
          <HR>
          <DIV id="pagetop"><A href="#hpb-container" title="このページの先頭へ">このページの先頭へ</A></DIV>
        </DIV>
      </DIV>
      <!-- service end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <DIV id="hpb-aside">
      <H3 class="hpb-c-index">バナースペース</H3>
      <DIV id="banner">
        <UL>
          <LI><A href="service.html" id="banner-service">施工事例</A> 
          <LI><A href="mokubut2.html" id="banner-recruit">木部外壁塗装の手順</A> 
          <LI><A href="sekoo3.html" id="banner-beaf">ビフォーアフター</A> 
          <LI><A href="access.html" id="banner-access">アクセス</A> 
          <LI><A href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</A> 
        </UL>
      </DIV>
      <DIV id="companyinfo">
        <H3>ホームメイドで嬉しいリフォーム！</H3>
        <P>〒500-8029<BR>
        岐阜市東材木町37-2<BR>
        代表者 臼井常雄<BR>
        </P>
        <P>TEL 058-262-5694<BR>
        FAX 058-262-5689<BR>
        携帯 090-8451-0238</P>
      </DIV>
    </DIV>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>

src/hm/seko4_3.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | ビフォーアフター-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | ビフォー ⇒ アフター
              span.en
                | BEFORE⇒AFTER
          #hpb-main
            #service
              h3
                | H邸の木部防水塗装　施工前 ⇒ 施工後
              b
                font[size="3"]
                  | ◆ 現調（Before) ⇒ 完成（After）
              br
              br
              p
                img.left[src="11a1.jpg" width="202" height="151" alt="現調写真撮り" align="left" style="padding-top : 0px;"]
                img.left[src="8.jpg" width="40" height="28" alt="外壁"]
                img.left[src="11a2.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 外木製玄関手摺り 
                | かなり傷みがひどく、腐食も進んでいましたので、取り替えて、笠木をつけ水切りを良くしました。
              hr
              p
                img.left[src="11a4.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="外壁"]
                img.left[src="11a5.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 外部にある物置 
                | 汚れをペーパで落としながら念入りに刷毛で仕上げていきます。
              hr
              p
                img.left[src="11a3.jpg" width="202" height="151" alt="現調写真撮り" align="left" style="padding-top : 0px;"]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a3_.jpg" alt="木製の空気抜け" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 外壁建具の塗装 
                | 網戸も変えて建具を丁寧に刷毛で仕上げます。色村が内容に何回も重ね塗りを行います。
              hr
              p
                img.left[src="11a6.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a7.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 木製デッキ
                | の場合は3年〜5年を目安に小まめに塗装をして木部が腐食する前に塗らないと、デッキの面影もなく朽ちてしまいます。塗料としてはキシラデコールがよく使われています。
              hr
              p
                img.left[src="11a12.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a13.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 桁、木、母屋
                | 桁・母屋・垂木などの構造材は刷毛塗り仕上げます。色を合わせるために何回も重ねて塗って行きます。　
              hr
              p
                img.left[src="11a14.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a15.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 木製の外壁は
                | 汚れが重なってくると黒くなってしまいます。色抜きをして、再度塗る場合と前の色より濃い色を使って痛みを目立たないように仕上げます。木部専用のキシラデコールが使われます。
              |  　
              hr
              p
                img.left[src="11a16.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a17.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 木製の建具
                | 　北面の建具もシッカリ塗装、細かな塗りは刷毛を使って手塗りで何回も塗り重ねていきます。
              h3
                b
                  br
                  br
                  br
                  br
              p
                b
                  | H邸木部外壁防水塗装工事詳細は
                  a[href="mokubut226.html"]
                    | こちら
              hr
              #pagetop
                a[href="#hpb-container" title="このページの先頭へ"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
