src/hm/sp1/sekoo1.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>施工事例 - ホームメイド</TITLE>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="index.html">ホームメイド</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">施工手順の詳細</SPAN><SPAN class="en">PRODUCTS</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- service -->
      <DIV id="service">
        <DIV class="hpb-section">
          <H3>M邸施工事例</H3>
          <B><FONT size="3">◆ 現調 （Befor)</FONT></B><BR>
          <IMG src="../y1.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left" style="padding-top : 8px;">
          <P><IMG src="../y4.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y2.jpg" alt="駐車場の天井" class="left" width="185" height="125"></P>
          <HR>
          <IMG src="../y3.jpg" width="185" height="125" alt="" class="left">
          <P><BR>
          ○ 西側の外壁とベランダの痛みがひどいので、ベランダは撤去、西側の外壁は剥がして下地からやり直しをする大きな工事になりました。駐車場の天井もベランダの割れがひどく雨水が沁みている状態でした。<BR>
          </P>
          <P><STRONG>二階のベランダの撤去工事<BR>
          <BR>
          <BR>
          <BR>
          <B><FONT size="3"><BR>
          ◆ 構造材補強補修工事　↓<BR>
          <BR>
          </FONT></B></STRONG><IMG src="../y41.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left"> <IMG src="../y42.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y43.jpg" alt="駐車場の天井" class="left" width="185" height="125"> </P>
          <HR>
          <IMG src="../y44.jpg" width="185" height="125" alt="" class="left">
          <P><BR>
          ○ 西側の外壁とベランダを撤去後、構造材の補強補修工事が必要になりました。雨水がベランダの割目から入り構造材もかなり腐食が進んでいました。外壁の塗装の前にシッカリと検査して補修致しますのでご安心ください。
          <BR>
          <STRONG><BR>
          <BR>
          構造材補強補修工事</STRONG><BR>
          <BR>
          　<STRONG><B><FONT size="3"><BR>
          <BR>
          ◆ ベランダを撤去し、左官工事のための下地づくりと駐車場の天井の補修工事　↓</FONT></B></STRONG><BR>
          <IMG src="../y5.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left" style="padding-top : 23px;"> </P>
          <P><IMG src="../y6.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y8.jpg" alt="駐車場の天井" class="left" width="185" height="125"></P>
          <HR>
          <P><IMG src="../y7.jpg" width="185" height="125" alt="" class="left"> </P>
          <P><BR>
          ○ 西側の外壁とベランダを撤去後、左官工事のための下地づくりからやり直しました。同時並行で、駐車場の天井も修復しました。玄関庇は新しく増築して、駐車場への雨水の入り込みを防ぎました。<BR>
          <BR>
          <BR>
          <STRONG>駐車場天井の張り替え塗装工事</STRONG>　<STRONG>下地補修工事</STRONG><BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <STRONG><B><FONT size="3">◆ 左官補修工事　↓</FONT></B></STRONG><BR>
          <IMG src="../y9.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left" style="padding-top : 23px;"> </P>
          <P><IMG src="../y10.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y11.jpg" alt="駐車場の天井" class="left" width="185" height="125"></P>
          <HR>
          <IMG src="../y12.jpg" width="185" height="125" alt="" class="left">
          <P><BR>
          ○ 下地づくりが完了、やっと左官工事ができるようになりました。見事に蘇る外壁に施主の方も大満足でした。駐車場の壁も綺麗なペパーミントブルーに仕上げました。この後に外壁の防水塗装工事が始まります。<BR>
          <BR>
          <STRONG><BR>
          左官仕上げ工事　内壁の塗装工事</STRONG><BR>
          <BR>
          <STRONG><B><FONT size="3"><BR>
          <BR>
          ◆ 玄関の庇と塀の防水塗装工事と板金工事　↓</FONT></B></STRONG><BR>
          <IMG src="../y14.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left" style="padding-top : 23px;"> </P>
          <P><IMG src="../y16.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y15.jpg" alt="駐車場の天井" class="left" width="185" height="125"></P>
          <HR>
          <IMG src="../y17.jpg" alt="駐車場の天井" class="left" width="185" height="125">
          <P>○ 板金工事は軽くて丈夫なガルバを使いました。木部の塗装も落ち着いた色合いに仕上げ外壁の白色にピッタリの土蔵仕上がりのような趣のある仕上がりになりました。
          <STRONG><BR>
          <BR>
          <BR>
          <BR>
          玄関庇改修工事</STRONG><BR>
          <BR>
          　<BR>
          </P>
          <HR>
          <P><STRONG><B><FONT size="3">◆ 屋根防水塗装工事　↓</FONT></B></STRONG><BR>
          <IMG src="../y18.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left" style="padding-top : 23px;"> </P>
          <P><IMG src="../y19.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y20.jpg" alt="駐車場の天井" class="left" width="185" height="125"></P>
          <HR>
          <IMG src="../y21.jpg" alt="駐車場の天井" class="left" width="185" height="125">
          <P><BR>
          ○ 外壁防水塗装と屋根防水塗装で新築の姿が蘇ってきました。屋根に光沢が戻り、風格と品格のある佇まいになりました。<BR>
          <BR>
          <BR>
          <BR>
          <STRONG>屋根防水塗装工事</STRONG><BR>
          </P>
          <HR>
          <P><STRONG><B><FONT size="3">◆ 外壁防水塗装工事完了（After）　　↓</FONT></B></STRONG><BR>
          <IMG src="../y22.jpg" width="185" height="125" alt="現調写真撮り" class="left" align="left" style="padding-top : 23px;"> </P>
          <P><IMG src="../y220.jpg" width="185" height="125" alt="玄関" class="left"> <IMG src="../y23.jpg" alt="駐車場の天井" class="left" width="185" height="125"> </P>
          <HR>
          <IMG src="../y24.jpg" alt="駐車場の天井" class="left" width="185" height="125">
          <P>○ 外壁防水塗装の色は白で仕上げ土蔵造りのイメージが家全体を品のある美しさに仕上がりました。新築したばかりの姿が蘇ってきました。</P>
          <BR>
          <STRONG>外壁防水塗装工事<BR>
          <BR>
          <A href="../b1.jpg" target="_blank">1</A> <A href="../b2.jpg" target="_blank">2</A> <A href="../b3.jpg" target="_blank">3</A> <A href="../b4.jpg" target="_blank">4</A> <A href="../b5.jpg" target="_blank">5</A></STRONG><BR>
          <BR>
          <BR>
        </DIV>
        　↓ 　 ← 完成写真
        <DIV class="hpb-section">
          <H3><B><BR>
          <BR>
          S邸外壁防水塗装工事詳細は<A href="../sekoo2.html">こちら</A></B></H3>
          <HR>
          <HR>
          <DIV id="pagetop"><A href="#hpb-container" title="このページの先頭へ">このページの先頭へ</A></DIV>
        </DIV>
      </DIV>
      <!-- service end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <div id="hpb-aside">
      <h3 class="hpb-c-index">バナースペース</h3>
      <div id="banner">
        <ul>
          <li><a href="service.html" id="banner-service">施工事例</a> 
          <li><a href="mokubut2.html" id="banner-recruit">木部外壁塗装の手順</a> 
          <li><a href="sekoo3.html" id="banner-beaf">ビフォーアフター</a> 
          <li><a href="access.html" id="banner-access">アクセス</a> 
          <li><a href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</a> 
        </ul>
      </div>
      <div id="companyinfo">
        <h3>ホームメイドで嬉しいリフォーム！</h3>
        <p>〒500-8029<br>
        岐阜市東材木町37-2<br>
        代表者 臼井常雄<br>
        </p>
        <p>TEL 058-262-5694<br>
        FAX 058-262-5689<br>
        携帯 090-8451-0238</p>
      </div>
    </div>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>

src/hm/sekoo1.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 施工事例-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 施工手順の詳細
              span.en
                | PRODUCTS
          #hpb-main
            #service
              h3
                | M邸施工事例
              b
                font[size="3"]
                  | ◆ 現調 （Befor)
              | 　↓
              br
              img.left[src="y1.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 8px;"]
              p
                img.left[src="y4.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y2.jpg" alt="駐車場の天井" width="185" height="125"]
              hr
              img.left[src="y3.jpg" width="185" height="125" alt=""]
              p
                br
                |  ○ 西側の外壁とベランダの痛みがひどいので、ベランダは撤去、西側の外壁は剥がして下地からやり直しをする大きな工事になりました。駐車場の天井もベランダの割れがひどく雨水が沁みている状態でした。
                br
              p
                strong
                  | 二階のベランダの撤去工事
                  br
                  br
                  br
                  br
                  b
                    font[size="3"]
                      br
                      |  ◆ 構造材補強補修工事　↓
                      br
                      br
                img.left[src="y41.jpg" width="185" height="125" alt="現調写真撮り" align="left"]
                img.left[src="y42.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y43.jpg" alt="駐車場の天井" width="185" height="125"]
              hr
              img.left[src="y44.jpg" width="185" height="125" alt=""]
              p
                br
                |  ○ 西側の外壁とベランダを撤去後、構造材の補強補修工事が必要になりました。雨水がベランダの割目から入り構造材もかなり腐食が進んでいました。外壁の塗装の前にシッカリと検査して補修致しますのでご安心ください。 
                br
                strong
                  br
                  br
                  |  構造材補強補修工事
                br
                br
                |  　
                strong
                  b
                    font[size="3"]
                      br
                      br
                      |  ◆ ベランダを撤去し、左官工事のための下地づくりと駐車場の天井の補修工事　↓
                br
                img.left[src="y5.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                img.left[src="y6.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y8.jpg" alt="駐車場の天井" width="185" height="125"]
              hr
              p
                img.left[src="y7.jpg" width="185" height="125" alt=""]
              p
                br
                |  ○ 西側の外壁とベランダを撤去後、左官工事のための下地づくりからやり直しました。同時並行で、駐車場の天井も修復しました。玄関庇は新しく増築して、駐車場への雨水の入り込みを防ぎました。
                br
                br
                br
                strong
                  | 駐車場天井の張り替え塗装工事
                | 　
                strong
                  | 下地補修工事
                br
                br
                br
                br
                br
                strong
                  b
                    font[size="3"]
                      | ◆ 左官補修工事　↓
                br
                img.left[src="y9.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                img.left[src="y10.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y11.jpg" alt="駐車場の天井" width="185" height="125"]
              |  　
              hr
              img.left[src="y12.jpg" width="185" height="125" alt=""]
              p
                br
                |  ○ 下地づくりが完了、やっと左官工事ができるようになりました。見事に蘇る外壁に施主の方も大満足でした。駐車場の壁も綺麗なペパーミントブルーに仕上げました。この後に外壁の防水塗装工事が始まります。
                br
                br
                strong
                  br
                  |  左官仕上げ工事　内壁の塗装工事
                br
                br
                strong
                  b
                    font[size="3"]
                      br
                      br
                      |  ◆ 玄関の庇と塀の防水塗装工事と板金工事　↓
                br
                img.left[src="y14.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                img.left[src="y16.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y15.jpg" alt="駐車場の天井" width="185" height="125"]
              hr
              img.left[src="y17.jpg" alt="駐車場の天井" width="185" height="125"]
              p
                | ○ 板金工事は軽くて丈夫なガルバを使いました。木部の塗装も落ち着いた色合いに仕上げ外壁の白色にピッタリの土蔵仕上がりのような趣のある仕上がりになりました。 
                strong
                  br
                  br
                  br
                  br
                  |  玄関庇改修工事
                br
                br
                |  　
                br
              hr
              p
                strong
                  b
                    font[size="3"]
                      | ◆ 屋根防水塗装工事　↓
                br
                img.left[src="y18.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                img.left[src="y19.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y20.jpg" alt="駐車場の天井" width="185" height="125"]
              hr
              img.left[src="y21.jpg" alt="駐車場の天井" width="185" height="125"]
              p
                br
                |  ○ 外壁防水塗装と屋根防水塗装で新築の姿が蘇ってきました。屋根に光沢が戻り、風格と品格のある佇まいになりました。
                br
                br
                br
                br
                strong
                  | 屋根防水塗装工事
                br
              hr
              p
                strong
                  b
                    font[size="3"]
                      | ◆ 外壁防水塗装工事完了（After）　　↓
                br
                img.left[src="y22.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                img.left[src="y220.jpg" width="185" height="125" alt="玄関"]
                img.left[src="y23.jpg" alt="駐車場の天井" width="185" height="125"]
              hr
              img.left[src="y24.jpg" alt="駐車場の天井" width="185" height="125"]
              p
                | ○ 外壁防水塗装の色は白で仕上げ土蔵造りのイメージが家全体を品のある美しさに仕上がりました。新築したばかりの姿が蘇ってきました。
              br
              strong
                | 外壁防水塗装工事
                br
                br
                a[href="b1.jpg" target="_blank"]
                  | 1
                a[href="b2.jpg" target="_blank"]
                  | 2
                a[href="b3.jpg" target="_blank"]
                  | 3
                a[href="b4.jpg" target="_blank"]
                  | 4
                a[href="b5.jpg" target="_blank"]
                  | 5
              |  ← 完成写真
              br
              br
              br
              h3
                b
                  br
                  br
                  |  S邸外壁防水塗装工事詳細は
                  a[href="sekoo2.html"]
                    | こちら
              hr
              hr
              #pagetop
                a[href="#hpb-container" title="このページの先頭へ"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
