src/hm/service.slim
doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 施工事例-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 施工事例
              span.en
                | PRODUCTS
          #hpb-main
            #service
              h3
                | 外壁防水塗装工事
              img.left[src="service-s01.jpg" width="300" height="199" alt="○○○○○○○○イメージ"]
              h4
                | 「M邸」
              p
                | 外壁・屋根の防水塗装工事。モルタルデッキの撤去と外壁の下地改修工事。玄関の庇の拡張工事から塀の塗装まで「嬉しいリフォーム」でスッキリ、新築なみの鮮やかさに蘇りました。
                br
              p
                strong
                  | 外壁防水塗装工事　玄関庇改修工事　塀の防水塗装工事　　
                  br
                  |  デッキの撤去　モルタル下地の補修工事
                br
                a[href="sekoo1.html"]
                  br
                  br
                  |  詳細
              hr
              img.left[src="service-s02.jpg" width="300" height="200" alt="○○○○○○○○イメージ"]
              h4
                | 「S邸」
              p
                | 外壁防水塗装工事は艶消し塗装、デッキの補修と木部の塗装により落ち着いた佇まいが蘇りました。二階の庇をデッキまでのばして雨仕舞もバッチリできるようにしました。
                br
                br
              p
                strong
                  | 外壁防水塗装工事　二階のベランダの庇改修工事　
                  br
                  |  デッキの防水塗装工事
                  br
                br
                br
                a[href="sekoo2.html"]
                  | 詳細
              hr
              h3
                | 水回りの改修工事
              img.right[src="service-p01.jpg" width="210" height="315" alt="○○○○○○○○イメージ"]
              h4
                | 「N邸」
              p
                | 人気のある色でキッチンも明るく蘇りました。使い勝手も良くて奥様も「嬉しいリフォーム」にご満足いただけました。。
                br
              p
                strong
                  | 水回り　システムキッチン　クロスの張り替え
              hr
              img.right[src="service-p02.jpg" width="210" height="315" alt="○○○○○○○○イメージ"]
              h4
                | 「M邸」
              p
                | 最新のバスユニットはエコで、明るく、冬でも暖かい。床も滑りません。使いやすくて清潔でお掃除も楽々です。。
              p
                strong
                  | バスユニット　洗面所の改修工事
              hr
              #pagetop
                a[href="#hpb-container" title="このページの先頭へ"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述

src/hm/sp1/service.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows">
<META name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<META name="justsystems:DeviceType" content="SmartPhoneV">
<TITLE>施工事例 - ホームメイド</TITLE>
<LINK rel="stylesheet" href="hpbsmtparts.css" type="text/css" id="hpbsmtparts">
<LINK rel="stylesheet" href="container_00_20.css" type="text/css" id="hpbsmtcontainer">
<LINK rel="stylesheet" href="main_01_20.css" type="text/css" id="hpbsmtmain">
<LINK rel="stylesheet" href="user.css" type="text/css" id="hpbsmtuser">
</HEAD>
<BODY id="hpb-smt-template-01-20-01" class="hpb-layoutset-02">
<DIV id="hpb-skip"><A href="#hpb-title">本文へスキップ</A></DIV>
<!-- container -->
<DIV id="hpb-container">
  <!-- header -->
  <DIV id="hpb-header">
    <DIV id="hpb-headerMain">
      <H1>ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。</H1>
    </DIV>
    <DIV id="hpb-headerLogo"><A href="index.html">株式会社ビルダーストーリー</A></DIV>
    <DIV id="hpb-headerExtra1">
      <P class="tel"><SPAN>TEL. </SPAN>058-262-5694</P>
      <P class="address">〒500-8029 岐阜市東材木町37-2</P>
    </DIV>
  </DIV>
  <!-- header end --><!-- inner -->
  <DIV id="hpb-inner">
    <!-- wrapper --><!-- page title -->
    <DIV id="hpb-title">
      <H2><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></H2>
    </DIV>
    <!-- page title end --><!-- main -->
    <DIV id="hpb-main">
      <!-- service -->
      <DIV id="service">
        <DIV class="hpb-section">
          <H3>外壁防水塗装工事</H3>
          <IMG src="service-s01.jpg" width="300" height="199" alt="○○○○○○○○イメージ" class="left">
          <H4>「M邸」</H4>
          <P>外壁・屋根の防水塗装工事。モルタルデッキの撤去と外壁の下地改修工事。玄関の庇の拡張工事から塀の塗装まで「嬉しいリフォーム」でスッキリ、新築なみの鮮やかさに蘇りました。<BR>
          </P>
          <P><STRONG>外壁防水塗装工事　玄関庇改修工事　塀の防水塗装工事　　<BR>
          デッキの撤去　モルタル下地の補修工事</STRONG><BR>
          <A href="sekoo1.html"><BR>
          <BR>
          詳細</A></P>
          <HR>
          <IMG src="service-s02.jpg" width="300" height="200" alt="○○○○○○○○イメージ" class="left">
          <H4>「S邸」</H4>
          <P>外壁防水塗装工事は艶消し塗装、デッキの補修と木部の塗装により落ち着いた佇まいが蘇りました。二階の庇をデッキまでのばして雨仕舞もバッチリできるようにしました。<BR>
          <BR>
          </P>
          <P><STRONG>外壁防水塗装工事　二階のベランダの庇改修工事　<BR>
          デッキの防水塗装工事<BR>
          </STRONG><BR>
          <BR>
          <A href="sekoo2.html">詳細</A></P>
          <HR>
        </DIV>
        <DIV class="hpb-section">
          <H3>水回りの改修工事</H3>
          <IMG src="service-p01.jpg" width="210" height="315" alt="○○○○○○○○イメージ" class="right">
          <H4>「N邸」</H4>
          <P>人気のある色でキッチンも明るく蘇りました。使い勝手も良くて奥様も「嬉しいリフォーム」にご満足いただけました。。<BR>
          </P>
          <P><STRONG>水回り　システムキッチン　クロスの張り替え</STRONG></P>
          <HR>
          <IMG src="service-p02.jpg" width="210" height="315" alt="○○○○○○○○イメージ" class="right">
          <H4>「M邸」</H4>
          <P>最新のバスユニットはエコで、明るく、冬でも暖かい。床も滑りません。使いやすくて清潔でお掃除も楽々です。。</P>
          <P><STRONG>バスユニット　洗面所の改修工事</STRONG></P>
          <HR>
          <DIV id="pagetop"><A href="#hpb-container" title="このページの先頭へ">このページの先頭へ</A></DIV>
        </DIV>
      </DIV>
      <!-- service end -->
    </DIV>
    <!-- main end --><!-- wrapper end --><!-- navi --><!-- navi end --><!-- aside -->
    <DIV id="hpb-aside">
      <H3 class="hpb-c-index">バナースペース</H3>
      <DIV id="banner">
        <UL>
          <LI><A href="service.html" id="banner-service">施工事例</A> 
          <LI><A href="mokubut2.html" id="banner-recruit">木部外壁塗装の手順</A> 
          <LI><A href="sekoo3.html" id="banner-beaf">ビフォーアフター</A> 
          <LI><A href="access.html" id="banner-access">アクセス</A> 
          <LI><A href="http://ameblo.jp/home-paint/" id="banner-paint">ブログ</A> 
        </UL>
      </DIV>
      <DIV id="companyinfo">
        <H3>ホームメイドで嬉しいリフォーム！</H3>
        <P>〒500-8029<BR>
        岐阜市東材木町37-2<BR>
        代表者 臼井常雄<BR>
        </P>
        <P>TEL 058-262-5694<BR>
        FAX 058-262-5689<BR>
        携帯 090-8451-0238</P>
      </DIV>
    </DIV>
    <DIV id="hpb-nav">
      <H3 class="hpb-c-index">ナビゲーション</H3>
      <UL>
        <LI id="nav-toppage"><A href="index.html"><SPAN class="ja">トップページ</SPAN><SPAN class="en">TOP&nbsp;PAGE</SPAN></A> 
        <LI id="nav-topics"><A href="topics.html"><SPAN class="ja">TOPICS</SPAN><SPAN class="en">TOPICS</SPAN></A>
        <LI id="nav-concept"><A href="concept.html"><SPAN class="ja">会社方針</SPAN><SPAN class="en">CONCEPT</SPAN></A> 
        <LI id="nav-service"><A href="service.html"><SPAN class="ja">施工事例</SPAN><SPAN class="en">PRODUCTS</SPAN></A> 
        <LI id="nav-news"><A href="news.html"><SPAN class="ja">新着情報・FAQ</SPAN><SPAN class="en">NEWS&amp;FAQ</SPAN></A> 
        <LI id="nav-company"><A href="company.html"><SPAN class="ja">会社概要</SPAN><SPAN class="en">COMPANY</SPAN></A> 
        <LI id="nav-recruit"><A href="recruit.html"><SPAN class="ja">採用情報</SPAN><SPAN class="en">RECRUIT</SPAN></A> 
        <LI id="nav-contact"><A href="contact.html"><SPAN class="ja">お問い合わせ</SPAN><SPAN class="en">CONTACT&nbsp;US</SPAN></A> 
      </UL>
    </DIV>
    <!-- aside end -->
  </DIV>
  <!-- inner end --><!-- footer -->
  <DIV id="hpb-footer">
    <DIV id="hpb-footerNav">
      <UL>
        <LI id="home"><A href="index.html"><SPAN class="ja">ホーム</SPAN><SPAN class="en">home</SPAN></A>
        <LI id="pagetop"><A href="#hpb-container"><SPAN class="ja">トップ</SPAN><SPAN class="en">top</SPAN></A>
      </UL>
    </DIV>
    <DIV id="hpb-footerExtra1">
      <H3 class="hpb-c-index">サブナビゲーション</H3>
      <UL>
        <LI><A href="privacy.html">プライバシーポリシー</A> 
        <LI><A href="law.html">特定商取引法に関する記述</A> 
      </UL>
    </DIV>
    <DIV id="hpb-footerMain">
      <P>copyright&copy;2016&nbsp;Home Made&nbsp;Inc.&nbsp;all&nbsp;rights&nbsp;reserved.</P>
    </DIV>
  </DIV>
  <!-- footer end -->
</DIV>
</BODY>
</HTML>
