build/works.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>"施工実績"</title>
    <meta content="株式会社ホームメイドは、建築リフォームを専門とする会社です。木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。" name="description" />
    <script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" />
    <link href="assets/stylesheets/style.min.css" rel="stylesheet" />
  </head>
  <body class="page">
    <header class="page-head">
      <h1 class="header-catch-copy">
        株式会社 ホームメイドは 木部や一般外壁の防水塗装・木部補修工事・水回り・内装クロス・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
      </h1>
      <div class="header-info">
        <div class="frame">
          <div class="border">
            <a href="../index.html" id="logo">
              <h1>
                株式会社<span>ホームメイド</span>
              </h1>
            </a>
          </div>
        </div>
        <address class="address"><span class="phone"><a href="tel:058-262-5694"><span class="fas fa-phone fa-fw fa-rotate-180"></span>058-262-5694</a></span><br /><span class="location">〒500-8029 岐阜市東材木町37-2</span></address>
      </div>
    </header>
    <nav class="page-nav">
      <ul>
        <li>
          <a href="company.html"><i class="far fa-building fa-fw"></i>会社案内</a>
        </li>
        <li>
          <a href="works.html"><i class="fas fa-home fa-fw"></i>施工事例</a>
        </li>
        <li>
          <a href="access.html"><i class="fas fa-car fa-fw"></i>交通案内</a>
        </li>
        <li>
          <a href="contact.html"><i class="far fa-envelope fa-fw"></i>お問合せ</a>
        </li>
      </ul>
    </nav>
    <button class="page-btn" onclick="menu_toggle()" type="button"><span class="fas fa-bars" title="メニューを開く"></span></button><button class="page-btn-close" onclick="menu_toggle()" type="button"><span class="fas fa-times" title="メニューを閉じる"></span></button>
    <script>
      function menu_toggle() {
        document.querySelector('.page').classList.toggle('open');
      }
    </script>
    <main class="page-main">
      <p class="lead">
        株式会社ホームメイドは、建築リフォームを専門とする会社です。<br />木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。
      </p>
      <p>
        様々なリフォーム事例がございます。
      </p>
      <ul>
        <li>
          外壁防水塗装工事
        </li>
        <li>
          水回り補修
          <ul class="ml-3">
            <li>
              システムキッチン
            </li>
            <li>
              バスユニット
            </li>
            <li>
              洗面所
            </li>
          </ul>
        </li>
        <li>
          畳表替え
        </li>
        <li>
          瓦補修
        </li>
        <li>
          コーキング(充填材)打ち替え
        </li>
        <li>
          金属サイディング貼り
        </li>
        <li>
          木部取替補修工事
        </li>
        <li>
          高圧洗浄
        </li>
        <li>
          板塀塗装
        </li>
        <li>
          カーポート補修
        </li>
      </ul>
    </main>
    <div id="page_top">
      <a href="#"></a>
    </div>
    <footer class="page-foot">
      <nav>
        <ul>
          <li>
            <a href="privacy.html"> 個人情報保護方針</a>
          </li>
        </ul>
      </nav>
      <p>
        <a href="index.html">Copyright&copy; 株式会社ホームメイド. All Rights Reserved.</a>
      </p>
    </footer>
    <script src="assets/javascripts/all.min.js"></script>
  </body>
</html>

src/works.slim
doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title "施工実績"
    meta name="description" content = "株式会社ホームメイドは、建築リフォームを専門とする会社です。木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。"

    script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"
    script src="https://code.jquery.com/jquery-3.4.1.min.js"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    link rel="stylesheet" href="assets/stylesheets/style.min.css"

  body.page
    include _header
    include _nav
    main.page-main
      p.lead
        | 株式会社ホームメイドは、建築リフォームを専門とする会社です。
        br
        | 木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。

      p
        | 様々なリフォーム事例がございます。

      ul
        li 外壁防水塗装工事
        li
          | 水回り補修
          ul.ml-3
            li システムキッチン
            li バスユニット
            li 洗面所
        li 畳表替え
        li 瓦補修
        li コーキング(充填材)打ち替え
        li 金属サイディング貼り
        li 木部取替補修工事
        li 高圧洗浄
        li 板塀塗装
        li カーポート補修


    #page_top
      a href="#"
    include _footer
    script src="assets/javascripts/all.min.js"
